#openerp_scheduler {
    background-color:#eee;
}
.openerp .dhx_mini_calendar {
    -moz-box-shadow: none;
    -khtml-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.openerp .dhx_cal_container, .openerp .dhx_cal_event {
    background-position:0 24px;
    background-repeat:repeat-x;
    font-family: Ubuntu, Helvetica, sans-serif;
    position:relative;
    overflow:hidden;
}
.openerp .dhx_cal_container.dhx_mini_calendar {
    background-color:#eee;
}
.openerp .dhx_cal_container div{
    -moz-user-select:none;
    -moz-user-select:-moz-none;
}

.openerp .dhx_cal_navline{
    height:20px; 
    position:absolute;
    z-index:1;
    width:750px;
    color:#2F3A48;
    background-color:#eee;
}
.openerp .dhx_cal_navline div{
    top:2px;
    white-space:nowrap;
}

.openerp .dhx_cal_navline .dhx_cal_date{
    font-weight:bold;
    float:left;
    font-size:1em;
    color:#444;
    margin:2px 0px 0px 10px;
}

.openerp .dhx_cal_button .dhx_left_bg{width:1px;overflow:hidden;height:1px;z-index:20;top:0;}

.openerp .dhx_cal_today_button, .openerp .dhx_cal_prev_button, .openerp .dhx_cal_next_button {
    display: inline-block;
    vertical-align:0px;
    float: left;
    height:14px;
    line-height:14px;
    font-size:90%;
    border: 1px solid #ababab;
    color: #404040;
    padding: 3px 10px;
    margin:0px 3px;
    text-align: center;
    cursor:pointer;
    -o-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: auto auto !important;
    background-size: 100% 100%;
    background: #d8d8d8 none;
    background: none, -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#d8d8d8));
    background: none, -webkit-linear-gradient(#efefef, #d8d8d8);
    background: none, -moz-linear-gradient(#efefef, #d8d8d8);
    background: none, -o-linear-gradient(top, #efefef, #d8d8d8);
    background: none, -khtml-gradient(linear, left top, left bottom, from(#efefef), to(#d8d8d8));
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.8) inset;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.8) inset;
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.8) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.8) inset;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
    -webkit-font-smoothing: antialiased;
    outline: none;
    font-weight:normal;
}
.openerp .dhx_cal_prev_button {
    background: url("/web_calendar/static/src/img/minical_left.png") no-repeat 8px 7px, -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#d8d8d8));
    background: url("/web_calendar/static/src/img/minical_left.png") no-repeat 8px 7px, -webkit-linear-gradient(#efefef, #d8d8d8);
    background: url("/web_calendar/static/src/img/minical_left.png") no-repeat 8px 7px, -moz-linear-gradient(#efefef, #d8d8d8);
    background: url("/web_calendar/static/src/img/minical_left.png") no-repeat 8px 7px, -o-linear-gradient(top, #efefef, #d8d8d8);
    background: url("/web_calendar/static/src/img/minical_left.png") no-repeat 8px 7px, -khtml-gradient(linear, left top, left bottom, from(#efefef), to(#d8d8d8));
}
.openerp .dhx_cal_next_button {
    background: url("/web_calendar/static/src/img/minical_right.png") no-repeat 8px 7px, -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#d8d8d8));
    background: url("/web_calendar/static/src/img/minical_right.png") no-repeat 8px 7px, -webkit-linear-gradient(#efefef, #d8d8d8);
    background: url("/web_calendar/static/src/img/minical_right.png") no-repeat 8px 7px, -moz-linear-gradient(#efefef, #d8d8d8);
    background: url("/web_calendar/static/src/img/minical_right.png") no-repeat 8px 7px, -o-linear-gradient(top, #efefef, #d8d8d8);
    background: url("/web_calendar/static/src/img/minical_right.png") no-repeat 8px 7px, -khtml-gradient(linear, left top, left bottom, from(#efefef), to(#d8d8d8));
}
.openerp .dhx_mini_calendar .dhx_cal_prev_button, .openerp .dhx_mini_calendar .dhx_cal_next_button {
    width:16px;
    height:18px;
    margin-bottom:1px;
}
.openerp .dhx_mini_calendar .dhx_cal_next_button {
    padding:3px 1px 3px 0px;
    float:right;
}
.openerp .dhx_cal_prev_button:hover, .openerp .dhx_cal_prev_button:active, .openerp .dhx_cal_today_button:hover, .openerp .dhx_cal_today_button:active, .openerp .dhx_cal_next_button:hover, .openerp .dhx_cal_next_button:active {
}

.openerp .dhx_mini_calendar .dhx_cal_prev_button, .openerp .dhx_mini_calendar .dhx_cal_next_button, .openerp .dhx_mini_calendar .dhx_cal_today_button {
    background:none;
    border:none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
}

.openerp .dhx_mini_calendar .dhx_cal_prev_button {
    background:url("/web_calendar/static/src/img/minical_left.png") no-repeat 5px 6px;
}

.openerp .dhx_mini_calendar .dhx_cal_next_button {
    background:url("/web_calendar/static/src/img/minical_right.png") no-repeat 8px 6px;
}

.openerp .dhx_mini_calendar .dhx_month_head {
    font-size:0.9em;
    color:#888
}
.openerp .dhx_mini_calendar .dhx_month_head:hover {
    background-color:#bbb;
    color:white;
    text-shadow:none;
}
.openerp .dhx_mini_calendar .dhx_scale_bar {
    border-width:0px;
    padding:1px 0 2px 0;
}

.openerp .dhx_cal_tab {
    width:59px;
    height:16px;
    line-height:16px;
    text-align:center;
    text-transform:uppercase;
    text-decoration:none;
    font-weight:bold;
    font-size:80%;
    color:#555;
    margin:6px 1px 0px 1px;
    padding-top:2px;
    cursor:pointer;
    float:right;
    background-color:#bbb;
    -webkit-border-top-left-radius:4px;
    -webkit-border-top-right-radius:4px;
    -moz-border-radius-topleft:4px;
    -moz-border-radius-topright:4px;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
}
.openerp .dhx_cal_tab[name="month_tab"] { right:16px; }
.openerp .dhx_cal_tab[name="week_tab"] { right:78px; }
.openerp .dhx_cal_tab[name="day_tab"] { right:123px; }

.openerp .dhx_cal_tab:hover {
    background-color:#ddd;
}

.openerp .dhx_cal_tab.active{
    height:17px;
    line-height:17px;
    text-decoration:none;
    cursor:default;
    /*border:1px dotted #8894A3;*/
    border-bottom:0px;
    background-color:white /*#F4F4F4;*/
}

.openerp .dhx_cal_tab[name="day_tab"] {
    margin-right:18px;
}

.openerp .dhx_cal_header{
    position:absolute;
    left:10px;
    top:23px;
    width:750px;
    text-transform:uppercase;
    font-size:0.8em;
    font-weight:bold;
    color:#3F3F3F;
    /*border-bottom:1px dotted #8894A3;
    border-top:1px dotted #8894A3;
    border-right:1px dotted #8894A3;z-index:2;*/
    overflow:hidden;
    background-color: white;
    text-shadow: 0 1px 0 white;
    -webkit-border-top-left-radius:4px;
    -webkit-border-top-right-radius:4px;
    -moz-border-radius-topleft:4px;
    -moz-border-radius-topright:4px;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
}

.openerp .dhx_cal_data{
    position:absolute;
    top:44px;
    width:600px;
    overflow-y:auto;
    overflow-x:hidden;
    background-color:white;
}
.openerp .oe_cal_month .dhx_cal_data {
    overflow-y: auto;
}


.openerp .dhx_cal_data tr td {
    border-width:0px;
}

.openerp .dhx_scale_bar{
    position:absolute;
    text-align:center;
    text-shadow: 0 1px 0 white;
    padding-top:2px;
}

.openerp .dhx_scale_holder{
    position:absolute;
    border-right:1px solid #ccc;
    background-image:url("/web_calendar/static/lib/dhtmlxScheduler/codebase/imgs/databg.png");
}
.openerp .dhx_scale_holder_now{
    position:absolute;
    border-right:1px solid #ccc;
    background-image:url("/web_calendar/static/lib/dhtmlxScheduler/codebase/imgs/databg_now.png");
}

.openerp .dhx_scale_hour{
    height:41px;
    width:50px;
    border-bottom:1px dotted #8894A3;
    border-right:1px dotted #8894A3;
    background-color:#ddd;
    text-align:center;
    line-height:40px;
    color:#586A7E;
    overflow:hidden;
}

.openerp .dhx_month_head{
    background-color:#F4F4F4;
    color:#2F3A48;
    text-shadow: 0 1px 0 white;
    font-weight:bold;
    text-align:center;
    border:1px solid #E9E9E9;
    height:18px;
    text-align:right;
    font-size:0.9em;
}
.openerp .dhx_mini_calendar .dhx_month_head{
    padding-right:6px;
}

.openerp .dhx_cal_data table tbody tr td:nth-child(7) {
    color:red;
}


.openerp .dhx_now .openerp .dhx_month_body{
    background-color:white;
}

.openerp .dhx_after .dhx_month_body,.openerp .dhx_before  .dhx_month_body{
background-color:#ECECEC;
}

.openerp .dhx_after .dhx_month_head,.openerp .dhx_before .dhx_month_head{background-color:#F4F4F4;color:#94A6BB;}

.openerp .dhx_now .dhx_month_head{
    background-color:#ddd;
}

.openerp .dhx_cal_drag{position:absolute;z-index:9999;background-color:#FFE763;border:1px solid #B7A543;opacity:.5;filter:alpha(opacity=50);}

.openerp .dhx_loading{position:absolute;width:128px;height:15px;background-image:url(/web_calendar/static/lib/dhtmlxScheduler/codebase/imgs/loading.gif);z-index:9999;}

.openerp .dhx_multi_day_icon, .openerp .dhx_multi_day{
    background-color:#A8B4C3;
    background-repeat:no-repeat;
    -webkit-border-top-left-radius:4px;
    -webkit-border-top-right-radius:4px;
    -moz-border-radius-topleft:4px;
    -moz-border-radius-topright:4px;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
}
.openerp .dhx_multi_day{
    position:absolute;
}

.openerp .dhx_multi_day_icon{
    background-image:url(/web_calendar/static/lib/dhtmlxScheduler/codebase/imgs/clock_big.gif);
}

.openerp .dhx_multi_day_icon_small {
    background-image:url(/web_calendar/static/lib/dhtmlxScheduler/codebase/imgs/clock_small.gif);
}

.openerp .dhx_multi_day_icon, .openerp .dhx_multi_day_icon_small{
    background-position:center center; 
    background-repeat:no-repeat;
    border-left:0px;
}

.openerp .dhtmlxLayoutPolyContainer_dhx_skyblue .dhx_cal_container{background-color:none;}

.openerp .dhx_cal_event div{
    font-family: Ubuntu, Helvetica, sans-serif;
    background-color:#FFE763;
    border:1px solid #a73636;
    color:#887A2E;
    overflow:hidden;
    font-size:100%;
}

.openerp .dhx_move_denied .dhx_cal_event .dhx_header, .openerp .dhx_move_denied .dhx_cal_event .dhx_title{cursor:default;}

.openerp .dhx_cal_event .dhx_header{
    height:0px;
    margin-left:1px;
    /*border-width:1px 1px 0 1px;*/
    cursor:pointer;
}

.openerp .dhx_cal_event .dhx_title {
    height:18px;
    border-bottom-style:solid;
    border-top-style:solid;
    font-weight:bold;
    text-align:center;
    background-position:right;
    background-repeat:no-repeat;
    cursor:pointer;
    vertical-align:middle;
    padding-top:2px;
    font-size: 90%;
    -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px; -moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px;
}

.openerp .dhx_cal_event .dhx_body{
    border-width:0 1px 1px 1px;
    padding:0px 5px;
    -moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px; border-bottom-left-radius: 3px; -moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px; border-bottom-right-radius: 3px;
    font-size:90%;
    line-height:9px;
}
.openerp .dhx_cal_event .dhx_body {
    /* fp request: hide the title in weekly/daily views */
    -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px; -moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px;
    padding-top: 4px;
}

.openerp .dhx_resize_denied .dhx_cal_event .dhx_footer{
    cursor:default;
}

.openerp .dhx_cal_event .dhx_footer{
    height:2px;
    margin-left:2px;
    border-width:0 1px 1px 1px; 
    cursor:s-resize;
    overflow:auto;
}

/*
The old one

.openerp .dhx_cal_event_line{
    background-image:url(/web_calendar/static/lib/dhtmlxScheduler/codebase/imgs/event-bg.png);
    background-color:#FFE763;
    border:1px solid #FFBD51;
    border-radius:3px;
    height:13px;
    padding-left:10px;
    color:#000;
    cursor:pointer;
    overflow:hidden;
}*/

.openerp .dhx_cal_event_clear, .openerp .dhx_cal_event_line{
    font-family:Ubuntu, Helvetica, sans-serif;
    font-size:95%;
    height:15px;
    line-height:15px;
    padding:0px 2px;
    color:white;
    white-space:nowrap;
    overflow:hidden;
    cursor:pointer;
    vertical-align:middle;
}
.openerp .dhx_cal_event_clear:hover, .openerp .dhx_cal_event_line:hover{
    background-color:#ccc;
}

.openerp .dhx_in_move{background-color:#FFFF80;}

.openerp div .dhx_cal_editor{
    background-color:white;
    border:1px solid #B7A543;
    width:100%;
    /*min-height:40px;*/
    height:100%;
    z-index:999;
    position:absolute;
    overflow:hidden;
}

.openerp textarea .dhx_cal_editor{
    background-color:white;
    width:100%;
/*min-height:40px;*/
    height:100%;
    border:0 solid black;
    margin:none;
    padding:none;
    overflow:auto;
}

.openerp div .dhx_menu_head{background-image:url(/web_calendar/static/lib/dhtmlxScheduler/codebase/imgs/controls.gif);background-position:0 -43px;width:10px;height:10px;margin-left:5px;margin-top:1px;border:none;cursor:default;}

.openerp div .dhx_menu_icon{background-image:url(/web_calendar/static/lib/dhtmlxScheduler/codebase/imgs/controls.gif);width:20px;height:20px;margin-left:-5px;margin-top:0;border:none;cursor:pointer;}
.openerp div .icon_details{background-position:0 0;}

.openerp div .icon_edit{background-position:-22px 0;}
.openerp div .icon_save{background-position:-84px -1px;}
.openerp div .icon_cancel{background-position:-62px 0;}div.icon_delete{background-position:-42px 0;}
.openerp div .dhx_now_time{position:absolute;width:100%;border-bottom:2px dotted red;z-index:1;}
.openerp div .dhx_time_block{position:absolute;width:100%;background:silver;opacity:.4;filter:alpha(opacity=40);z-index:1;}

.openerp .dhx_unselectable, .dhx_unselectable div{-webkit-user-select:none;-moz-user-select:none;-moz-user-select:-moz-none;}

.openerp .dhx_cal_light{background-color:#FFE763;border-radius:5px;
    font-size:8pt;border:1px solid #B7A64B;color:#887A2E;position:absolute;z-index:10001;width:580px;height:300px;box-shadow:5px 5px 5px #888;}

.openerp .dhx_cal_light_wide{width:650px;}
.openerp .dhx_mark{position:relative;top:3px;background-image:url('/web_calendar/static/lib/dhtmlxScheduler/codebase/imgs/controls.gif');background-position:0 -43px;padding-left:10px;}

.openerp .dhx_ie6 .dhx_mark{background-position:6px -41px;}

.openerp .dhx_cal_light select{font-size:8pt;color:#887A2E;padding:2px;margin:0;}.openerp .dhx_cal_ltitle{padding:2px 0 2px 5px;overflow:hidden;white-space:nowrap;}

.openerp .dhx_cal_ltitle span{white-space:nowrap;}

.openerp .dhx_cal_lsection{background-color:#DBCF8C;color:#FFF4B5;font-weight:bold;padding:5px 0 3px 10px;}.openerp .dhx_section_time{background-color:#DBCF8C;}

.openerp .dhx_cal_lsection .dhx_fullday{float:right;margin-right:5px;color:#887A2E;font-size:12px;font-weight:normal;line-height:20px;vertical-align:top;cursor:pointer;}

.openerp .dhx_cal_lsection{font-size:18px;}

.openerp .dhx_cal_ltext{padding:2px 0 2px 10px;overflow:hidden;}
.openerp .dhx_cal_ltext textarea{background-color:#FFF4B5;overflow:auto;border:none;color:#887A2E;height:100%;width:100%;outline:none!important;}
.openerp .dhx_time{font-weight:bold;}

.openerp .dhx_cal_light .openerp .dhx_title{padding-left:10px;}

.openerp .dhx_cal_larea{border:1px solid #DCC43E;background-color:#FFF4B5;overflow:hidden;margin-left:3px;width:572px;height:1px;}
.openerp .dhx_btn_set{padding:5px 10px 0 10px;float:left;}.openerp .dhx_btn_set div{float:left;height:21px;line-height:21px;vertical-align:middle;cursor:pointer;}
.openerp .dhx_save_btn{background-image:url('/web_calendar/static/lib/dhtmlxScheduler/codebase/imgs/controls.gif');background-position:-84px 0;width:21px;}
.openerp .dhx_cancel_btn{background-image:url('/web_calendar/static/lib/dhtmlxScheduler/codebase/imgs/controls.gif');background-position:-63px 0;width:20px;}
.openerp .dhx_delete_btn{background-image:url('/web_calendar/static/lib/dhtmlxScheduler/codebase/imgs/controls.gif');background-position:-42px 0;width:20px;}
.openerp .dhx_cal_cover{width:100%;height:100%;position:absolute;z-index:10000;top:0;left:0;background-color:black;opacity:.1;filter:alpha(opacity=10);}
.openerp .dhx_custom_button{padding:0 3px 0 3px;color:#887A2E;font-size:8pt;background-color:#FFE763;font-weight:normal;margin-right:5px;margin-top:0;cursor:pointer;}
.openerp .dhx_custom_button div{cursor:pointer;float:left;height:21px;line-height:21px;vertical-align:middle;}

.openerp .dhx_cal_light_wide .dhx_cal_larea{border-top-width:0;}
.openerp .dhx_cal_light_wide .dhx_cal_lsection{border:0;float:left;text-align:right;width:100px;height:20px;font-size:16px;padding:5px 0 0 10px;}
.openerp .dhx_cal_light_wide .dhx_wrap_section{border-top:1px solid #DBCF8C;position:relative;background-color:#DBCF8C;overflow:hidden;}
.openerp .dhx_cal_light_wide .dhx_section_time{padding-top:2px!important;height:20px!important;}
.openerp .dhx_section_time{text-align:center;}
.openerp .dhx_cal_light_wide .dhx_cal_larea{width:730px;}
.openerp .dhx_cal_light_wide{width:738px;}
.openerp .dhx_cal_light_wide .dhx_section_time{background:transparent;}
.openerp .dhx_cal_light_wide .dhx_cal_checkbox label{padding-left:0;}
.openerp .dhx_cal_wide_checkbox input{margin-top:8px;margin-left:14px;}
.openerp .dhx_cal_light input{;font-size:8pt;color:#887A2E;}

.openerp .dhx_cal_light_wide .dhx_cal_lsection .dhx_fullday{float:none;margin-right:0;color:#FFF4B5;font-weight:bold;font-size:16px;cursor:pointer;}

.openerp .dhx_custom_button{float:right;height:21px;width:90px;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;}
.openerp .dhx_cal_light_wide .dhx_custom_button{position:absolute;top:0;right:0;margin-top:2px;}
.openerp .dhx_cal_light_wide .dhx_repeat_right{margin-right:55px;}
.openerp .dhx_cal_light_wide .dhx_repeat_divider{border-color:#FFE763;}

.openerp .dhx_expand_icon{position:absolute;top:0;right:0;background-image:url(/web_calendar/static/lib/dhtmlxScheduler/codebase/imgs/colapce-expand-icon.gif);width:18px;height:18px;cursor:pointer;background-position:0 18px;z-index:16;}
.openerp .dhx_agenda_area{width:100%;height:100%;overflow-y:auto;background-image:url(/web_calendar/static/lib/dhtmlxScheduler/codebase/imgs/databg.png);}
.openerp .dhx_agenda_line{height:21px;clear:both;overflow:hidden;}
.openerp .dhx_agenda_line div{float:left;width:188px;border-right:1px dotted #8894A3;text-align:center;line-height:21px;overflow:hidden;}
.openerp .dhx_agenda_area .dhx_agenda_line div{border-right:0 dotted #8894A3;}
.openerp .dhx_v_border{position:absolute;left:186px;top:0;border-right:1px dotted #8894A3;width:1px;height:100%;}
.openerp .dhx_agenda_line .dhx_event_icon{width:20px;border-width:0;background:url(/web_calendar/static/lib/dhtmlxScheduler/codebase/imgs/icon.png) no-repeat;background-position:5px 4px;cursor:pointer;}
.openerp .dhx_agenda_line span{padding-left:5px;line-height:21px;}


.openerp .dhx_year_week{
    position:relative;
    font-weight:bold;
    font-size:1em;
    color:#aaa;
    vertical-align:middle;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
}

.openerp .dhx_year_month{
    height:18px;
    line-height:18px;
    padding-top:2px;
    text-align:center;
    vertical-align:middle;
    text-transform:uppercase;
    font-weight:bold;
    font-size:0.9em;
    text-shadow: 0 1px 0 white;
    border:0px;
    color:#444;
}
/*.openerp .dhx_mini_calendar .openerp .dhx_year_month{
    padding-top:0px;
} */

.openerp .dhx_mini_calendar
 .dhx_year_body {
    border:0px;
}

.openerp .dhx_year_body .dhx_before .dhx_month_head,.openerp .dhx_year_body  .dhx_after .dhx_month_head, .openerp .dhx_year_body .dhx_before .dhx_month_head a,.openerp .dhx_year_body .dhx_after .dhx_month_head a {color:#bbb;}

.openerp .dhx_year_body .dhx_month_body{height:0;overflow:hidden;}

.openerp .dhx_year_body .dhx_before .dhx_month_head, .dhx_year_body .dhx_after .dhx_month_head{cursor:default;}

.openerp .dhx_tooltip{border:1px solid #BBB;background-image:url(/web_calendar/static/lib/dhtmlxScheduler/codebase/imgs/databg.png);position:absolute;z-index:9998;width:300px;height:auto;
font-size:8pt;overflow:hidden;}
.openerp .dhx_tooltip_line{line-height:20px;height:20px;overflow:hidden;}
.openerp .dhx_tooltip_line .dhx_event_icon{width:20px;height:20px;padding-right:10px;float:left;border-width:0;position:relative;background:url(/web_calendar/static/lib/dhtmlxScheduler/codebase/imgs/icon.png) no-repeat;background-position:5px 4px;cursor:pointer;}
.openerp .dhx_tooltip_date{float:left;width:auto;padding-left:5px;text-align:center;}

.openerp .dhx_text_disabled{color:#887A2E;font-size:8pt;}

.openerp .dhx_cal_navline div .dhx_minical_icon{width:18px;height:18px;left:190px;top:1px;cursor:pointer;background-image:url(/web_calendar/static/lib/dhtmlxScheduler/codebase/imgs/calendar.gif);}

.openerp .dhx_matrix_scell{height:100%;}
.openerp .dhx_matrix_cell,
.openerp .dhx_matrix_scell{overflow:hidden;text-align:center;vertical-align:middle;border-bottom:1px dotted #8894A3;border-right:1px dotted #8894A3;}
.openerp .dhx_matrix_cell{background-color:white;}
.openerp .dhx_matrix_line{overflow:hidden;}
.openerp .dhx_matrix_cell div, .openerp .dhx_matrix_scell div{overflow:hidden;text-align:center;height:auto;}
.openerp .dhx_cal_lsection .dhx_readonly{font-size:9pt;font-size:8pt;padding:2px;color:#887A2E;}

.openerp .dhx_matrix_scell.folder,.openerp .dhx_data_table.folder  .dhx_matrix_cell{background-color:#969394;cursor:pointer;}
.openerp .dhx_matrix_scell .dhx_scell_level0{padding-left:5px;}
.openerp .dhx_matrix_scell .dhx_scell_level1{padding-left:20px;}
.openerp .dhx_matrix_scell .dhx_scell_level2{padding-left:35px;}
.openerp .dhx_matrix_scell .dhx_scell_level3{padding-left:50px;}
.openerp .dhx_matrix_scell .dhx_scell_level4{padding-left:65px;}
.openerp .dhx_matrix_scell.folder{font-weight:bold;text-align:left;}
.openerp .dhx_matrix_scell.folder .dhx_scell_expand{float:left;width:10px;padding-right:3px;}
.openerp .dhx_matrix_scell.folder .dhx_scell_name{float:left;width:auto;}
.openerp .dhx_matrix_scell.item .dhx_scell_name{padding-left:15px;text-align:left;}

.openerp .dhx_data_table.folder .dhx_matrix_cell{border-right:0;}
.openerp .dhx_section_timeline{overflow:hidden;padding:4px 0 2px 10px;}
.openerp .dhx_section_timeline select{width:552px;}
.openerp .dhx_map_area{width:100%;height:100%;overflow-y:auto;overflow-x:hidden;background-image:url(/web_calendar/static/lib/dhtmlxScheduler/codebase/imgs/databg.png);}
.openerp .dhx_map_line .dhx_event_icon{width:20px;border-width:0;background:url(/web_calendar/static/lib/dhtmlxScheduler/codebase/imgs/icon.png) no-repeat;background-position:5px 4px;cursor:pointer;}
.openerp .dhx_map_line{height:21px;clear:both;overflow:hidden;}
.openerp .dhx_map{position:absolute;}
.openerp .dhx_map_line div{float:left;border-right:1px dotted #8894A3;text-align:center;line-height:21px;overflow:hidden;}
.openerp .dhx_map_line .headline_description{float:left;border-right:1px dotted #8894A3;text-align:center;line-height:21px;overflow:hidden;}
.openerp .dhx_map_line .dhx_map_description{float:left;border-right:0 dotted #8894A3;text-align:center;line-height:21px;overflow:hidden;}

.openerp .dhx_map_line .line_description{float:left;border-right:1px dotted #8894A3;text-align:left;padding-left:5px;line-height:21px;overflow:hidden;}
.openerp .dhx_map_line.highlight{background-color:#C4C5CC;}
.openerp .dhx_map_area .dhx_map_line div{border-right:0 dotted #8894A3;}.dhtmlXTooltip.tooltip{-moz-box-shadow:3px 3px 3px #888;-webkit-box-shadow:3px 3px 3px #888;-o-box-shadow:3px 3px 3px #888;box-shadow:3px 3px 3px #888;filter:progid:DXImageTransform.Microsoft.Shadow(color='#888888',Direction=135,Strength=5);background-color:white;border-left:1px dotted #887A2E;border-top:1px dotted #887A2E;color:#887A2E;cursor:default;padding:10px;position:absolute;z-index:500;}
.openerp .dhx_cal_checkbox label{padding-left:5px;}
.openerp .dhx_cal_light .radio{padding:2px 0 2px 10px;}
.openerp .dhx_cal_light .radio input,.openerp .dhx_cal_light .radio label{line-height:15px;}
.openerp .dhx_cal_light .radio input{vertical-align:middle;margin:0;padding:0;}
.openerp .dhx_cal_light .radio label{vertical-align:middle;padding-right:10px;}
.openerp .dhx_cal_light .combo{padding:4px;}
.openerp .dhx_wa_column{float:left;}
.openerp .dhx_wa_column_last .dhx_wa_day_cont{border-left:1px dotted #8894A3;}

.openerp .dhx_wa_scale_bar{padding-left:10px;font-size:11px;border-top:1px dotted #8894A3;border-bottom:1px dotted #8894A3;}
.openerp .dhx_wa_day_data{background-color:#FCFEFC;overflow-y:auto;}
.openerp .dhx_wa_ev_body{border-bottom:1px dotted #789;font-size:12px;padding:5px 0 5px 7px;}

.openerp .dhx_wa_dnd{position:absolute;padding-right:7px;color:#887AE2!important;background-color:#FFE763!important;border:1px solid #B7A543;}
.openerp .dhx_cal_event_selected{background-color:#9cc1db;color:white;}
.openerp .dhx_second_scale_bar{border-bottom:1px dotted #586A7E;padding-top:2px;}
.openerp  div .dhx_form_repeat input.radio{margin:-4px 0 0 -4px!ie;}
.openerp  div .dhx_form_repeat input.checkbox{margin:0 0 0 -4px!ie;}

.openerp .dhx_form_repeat,.openerp .dhx_form_repeat input{padding:0;margin:0;padding-left:5px;
font-size:11px;line-height:24px;}
.openerp .dhx_form_repeat{overflow:hidden;height:0;background-color:#FFF4B5;}
.openerp .dhx_cal_light_wide .dhx_form_repeat{background-color:transparent;}
.openerp .dhx_repeat_center,.openerp .dhx_repeat_left{height:115px;padding:10px 0 10px 10px;float:left;}
.openerp .dhx_repeat_left{width:95px;}
.openerp .dhx_repeat_center{width:335px;margin-top:12px;}
.openerp .dhx_repeat_divider{float:left;height:115px;border-left:1px dotted #DCC43E;width:1px;}
.openerp .dhx_repeat_right{float:right;height:115px;width:160px;padding:10px 3px 10px 10px;margin-top:7px;}
.openerp input .dhx_repeat_text{height:16px;width:27px;margin:0 4px 0 4px;line-height:18px;padding:0 0 0 2px;}
.openerp .dhx_form_repeat select{height:20px;width:87px;padding:0 0 0 2px;margin:0 4px 0 4px;}
.openerp input .dhx_repeat_date{height:18px;width:80px;padding:0 0 0 2px;margin:0 4px 0 4px;background-repeat:no-repeat;background-position:64px 0;border:1px #7f9db9 solid;line-height:18px;}input.openerp .dhx_repeat_radio{margin-right:4px;}
.openerp input .dhx_repeat_checkbox{margin:4px 4px 0 0;}
.openerp .dhx_repeat_days td{padding-right:5px;}
.openerp .dhx_repeat_days label{font-size:10px;}
.openerp .dhx_custom_button{width:90px;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;}
.openerp .dhx_custom_button_recurring{background-image:url(/web_calendar/static/lib/dhtmlxScheduler/codebase/imgs/but_repeat.gif);background-position:-5px 20px;width:20px;margin-right:10px;}
.openerp .dhx_cal_light_rec{width:640px;}
.openerp .dhx_cal_light_rec .dhx_cal_larea{width:632px;}
.openerp .dhx_cal_light_rec .dhx_cal_light_wide{width:816px;}
.openerp .dhx_cal_light_rec .dhx_cal_light_wide .dhx_cal_larea{width:808px;}

.openerp .dhx_cal_navline{background-color:none;height:23px!important;}

.openerp .dhx_month_head{background-color:#F4F4F4;}

.openerp .dhx_after .dhx_month_head,.openerp .dhx_before .dhx_month_head{background-color:#F4F4F4;}

.openerp .dhx_after .dhx_month_body,.openerp .dhx_before .dhx_month_body{background-color:#EFEDE2;}

.openerp .dhx_cal_event div{border:1px solid #FFBD51;background-color:#FFE4AB;color:#000;}

.openerp .dhx_in_move{background-image:url(/web_calendar/static/lib/dhtmlxScheduler/codebase/imgs/move.png);}

.openerp .dhx_cal_event .dhx_title{background-color:#FFE4AB;}

.openerp .dhx_cal_light{-moz-box-shadow:5px 5px 5px #888;-khtml-box-shadow:5px 5px 5px #888;background-color:#EBEBEB;border:2px solid #A4BED4;color:#000;}
.openerp .dhx_cal_larea{border:1px solid #A4BED4;border-width:0 1px 1px;background-color:#FFF;}

.openerp .dhx_cal_lsection{background-image:url(/web_calendar/static/lib/dhtmlxScheduler/codebase/imgs/lightbox.png);font-size:14px;padding:5px 0 5px 10px;color:#000;}

.openerp .dhx_cal_light_wide .dhx_cal_lsection{background-image:url(/web_calendar/static/lib/dhtmlxScheduler/codebase/imgs/multi-days-bg.png);}.openerp .dhx_cal_ltext textarea{background-color:#fff;color:#000;}

.openerp .dhx_cal_light select,.openerp .dhx_cal_light input{color:#000;}
.openerp .dhx_save_btn{background-image:url(/web_calendar/static/lib/dhtmlxScheduler/codebase/imgs/controlls5.png);}

.openerp .dhx_cancel_btn{background-image:url(/web_calendar/static/lib/dhtmlxScheduler/codebase/imgs/controlls5.png);}
.openerp .dhx_delete_btn{background-image:url(/web_calendar/static/lib/dhtmlxScheduler/codebase/imgs/controlls5.png);}

.openerp .div .dhx_menu_head{background-image:url(/web_calendar/static/lib/dhtmlxScheduler/codebase/imgs/controlls5.png);border:1px solid #FFE4AB;}

.openerp .div .dhx_menu_icon{background-image:url(/web_calendar/static/lib/dhtmlxScheduler/codebase/imgs/controlls5.png);border:medium none;}

.openerp .dhx_section_time{height:20px!important;padding:7px 0!important;text-align:center;background:white;}

.openerp .div .dhx_cal_editor{background-color:#FFE4AB;}

.openerp .dhx_month_body{ 
    border:1px solid #E9E9E9;
    border:1px solid #E9E9E9;
}

.openerp .dhx_scale_bar_last{border-right:none;}

.openerp .dhx_month_head .dhx_year_event{background-color:#ddd;}

.openerp .dhx_year_body .dhx_before .dhx_month_head,.openerp .dhx_year_body .dhx_after .dhx_month_head, .dhx_year_body .dhx_before .dhx_month_head a,.openerp .dhx_year_body  .dhx_after .dhx_month_head a{color:#EFEDE2 ;}

.openerp .dhx_cal_lsection .dhx_readonly{color:#000;}
.openerp .dhx_tooltip{-moz-box-shadow:2px 2px 2px #888;-khtml-box-shadow:2px 2px 2px #888;}
.openerp .dhx_custom_button{margin-top:-2px;}
.openerp .dhx_cal_lsection .dhx_fullday{color:#000;}
.openerp .dhx_cal_lsection .dhx_cal_checkbox{height:16px;line-height:18px;}
.openerp .dhx_cal_light_wide 
.openerp .dhx_cal_lsection .dhx_cal_checkbox{height:20px;}
.openerp .dhx_cal_checkbox label{vertical-align:top;}
.openerp .dhx_cal_light_wide .dhx_cal_lsection{color:black;}
.openerp .dhx_cal_light_wide .dhx_wrap_section{border-top:1px solid #A4BED4;background-image:url(/web_calendar/static/lib/dhtmlxScheduler/codebase/imgs/multi-days-bg.png);}
.openerp .dhx_cal_light_wide .dhx_cal_ltext{border-left:1px solid #A4BED4;}
.openerp .dhx_cal_light_wide .dhx_cal_ltext{background-color:white;}
.openerp .dhx_custom_button{background:white;color:black;}
.openerp .dhx_form_repeat{background:white;}
.openerp .dhx_repeat_divider{border-left:1px solid #A4BED4;}
.openerp .dhx_cal_header .dhx_second_cal_header{background-image:url("/web_calendar/static/lib/dhtmlxScheduler/codebase/imgs/second-top-days-bg.png");padding-right:20px;}

.openerp .dhx_second_scale_bar{border-bottom:0;padding-top:4px;}
.openerp .dhx_cal_light_wide .dhx_cal_lsection .dhx_fullday,.openerp .dhx_cal_lsection .dhx_fullday{color:#000;font-size:14px;}
.openerp .dhx_cal_light_wide .dhx_cal_lsection{font-size:14px;padding-right:10px;}


.openerp .dhx_scale_bar {
/*background-color:#bac6cf;
    border-left:1px dotted #7e7e7e; */
    }


.openerp .dhx_cal_drag {
    background-color:#ff8d8d;
    border:1px solid #a73636;
}



.openerp .dhx_in_move{
    background-color:#f7ffb1;
}


.openerp .dhx_cal_event div .dhx_menu_icon {
    border: medium none;
}

.openerp .dhx_after .dhx_month_body, .openerp .dhx_before .dhx_month_body {
    background-color:#e9e9e9;
}


.openerp .dhx_cal_light {
    background-color:#ff8d8d;
    color: #000102;
    border:1px solid #b7a543;
}
    
.openerp .dhx_cal_light select {
    color: #000102;
}

.openerp .dhx_cal_lsection {
    background-color:#dbcf8c;
    color: #fff4b5;
}

.openerp .dhx_cal_larea {
    background-color:#fff4b5;
    border:1px solid #b7a543;
}


.openerp .dhx_agenda_area{
    background-image:url("/web_calendar/static/lib/dhtmlxScheduler/codebase/imgs/databg.png");
}

.openerp .dhx_agenda_line div {
    border-right:1px dotted #7e7e7e;
}

.openerp .dhx_agenda_area .dhx_agenda_line div {
    border-right:0px dotted #7e7e7e;
}


.openerp .dhx_scale_bar_last {
    border-right: none;
}
    
.openerp .dhx_year_body .dhx_before .dhx_month_head, .openerp .dhx_year_body .dhx_after .dhx_month_head, .openerp .dhx_year_body .dhx_before .dhx_month_head a, .openerp .dhx_year_body .dhx_after .dhx_month_head a {
    color:#bbb;
}
.openerp .dhx_year_body .dhx_before .dhx_month_head:hover, .openerp .dhx_year_body .dhx_after .dhx_month_head:hover, .openerp .dhx_year_body .dhx_before .dhx_month_head a:hover, .openerp .dhx_year_body .dhx_after .dhx_month_head a:hover {
    color:white;
    text-shadow:none;
}
    
.openerp .dhx_tooltip {
    background-image:url("/web_calendar/static/lib/dhtmlxScheduler/codebase/imgs/databg.png");
}
    
.openerp .dhx_cal_event div .dhx_menu_head {
    border:none;
}

div.openerp .dhx_menu_head{
    border:1px solid #ff8d8d;
}

.openerp .dhx_after  .dhx_month_head, .openerp .dhx_before  .dhx_month_head {
    color:#8c9299;
}

.openerp .dhx_cal_data  .dhx_agenda_line {
    color:#000102;
}

.openerp .dhx_cal_header .dhx_agenda_line {
    color: #020202;
}

.openerp .dhx_tooltip_line {
    color:#000102;
}

.openerp .dhx_cal_light select {
       background-color: #ffffff;
}

.openerp .dhx_custom_button {
    color: #000102;
    background-color: #bac6cf;
}

div.openerp .dhx_form_repeat {
    background-color: #ffffff;
}

div.openerp .dhx_repeat_divider {
    border-left:1px dotted #dbcf8c;
}


.openerp .dhx_v_border {
    border-right:1px dotted #8c9299;
}


.openerp .dhx_scale_bar_last {
    border-right: none;
}

.openerp .dhx_tooltip {
    background-image:url("/web_calendar/static/lib/dhtmlxScheduler/codebase/imgs/databg.png");
}

.openerp .dhx_text_disabled {
    color:#000102;
}

.openerp .dhx_mini_calendar .dhx_calendar_click {
    background-color:#bac6cf;
}

.openerp .dhx_matrix_cell, .openerp .dhx_matrix_scell {
    border-bottom:1px dotted #757575;
    border-right:1px dotted #757575;
}

.openerp .dhx_matrix_cell {
    background-color: #ffffff;
}


/*=================================================================*/
/* pro */
/*=================================================================*/



.openerp .dhx_in_move{
    background-image:url("/web_calendar/static/lib/dhtmlxScheduler/codebase/imgs/move.png");
}
.openerp .dhx_cal_light{
    background-color:#bac6cf;
    border:2px solid #757575;
    color:#000102;
}

.openerp .dhx_cal_larea{
    border:1px solid #757575;
    background-color:#FFFFFF;
}

.openerp .dhx_cal_lsection{
    background-image:url("/web_calendar/static/lib/dhtmlxScheduler/codebase/imgs/lightbox.png");
    color:#000102;
}

.openerp .dhx_cal_ltext{
    background-color:#ffffff;
}

.openerp .dhx_cal_ltext textarea{
    color:#000102;
    background-color:#ffffff;
}

.openerp .dhx_form_repeat input, .openerp .dhx_form_repeat select{
    background-color:white;
    color:black;
}

.openerp .dhx_cal_light select{
    color:#000102;
    background-color:#ffffff;
}

.openerp .dhx_section_time{
    background-image:none;
    background-color:#ffffff;
}

div.openerp .dhx_cal_editor{
    background-color:#ff8d8d;
}

div.openerp .dhx_cal_editor textarea {
    color: #000102;
}


/* .openerp .dhx_year_week{
    background-image:url("./imgs/top-days-bg.png");
} 

.openerp .dhx_month_head.openerp .dhx_year_event{
    background-color:#ff8d8d;
} */

.openerp .dhx_cal_lsection .dhx_readonly{
    color:#000102;
}

.openerp .dhx_after .dhx_month_head, .openerp .dhx_before .dhx_month_head {
    background-color:#F4F4F4;
}

/* Tree view */
.openerp .dhx_matrix_scell.folder, .dhx_data_table.folder .dhx_matrix_cell{
    background-color: #7e7e7e;
}
.dhtmlXTooltip.tooltip{
    border-left:1px dotted #7e7e7e;
    border-top:1px dotted #7e7e7e;
}
.openerp .dhx_map_area{
    background-image:url("/web_calendar/static/lib/dhtmlxScheduler/codebase/imgs/databg_now.png");
}
.openerp .dhx_map_line div{
    border-right:1px dotted #7e7e7e;
}
.openerp .dhx_map_line .headline_description{
    border-right:1px dotted #7e7e7e;
}
.openerp .dhx_map_line .dhx_map_description{
    border-right: 0px dotted #7e7e7e;
}
.openerp .dhx_map_line .line_description{
    border-right:1px dotted #7e7e7e;
}
.openerp .dhx_map_line.highlight{
    background-color: #bac6cf;
}
.openerp .dhx_map_area .dhx_map_line div{
    border-right:0px dotted #7e7e7e;
}
/* Map view */
.openerp .dhx_map_area{
    background-image:url("/web_calendar/static/lib/dhtmlxScheduler/codebase/imgs/databg.png");
}
/* Map view end */


/* Agenda week start */
.openerp .dhx_wa_column_last .dhx_wa_day_cont{
    border-left: 1px dotted #757575;
}
.openerp .dhx_wa_scale_bar {
    border-top: 1px dotted #757575;
    border-bottom: 1px dotted #757575;
    color: #020202;
}
.openerp .dhx_wa_day_data {
    background-color: #ffffff;
}
.openerp .dhx_wa_ev_body {
    border-bottom: 1px dotted #757575;
    color: #000102;
}
.openerp .dhx_wa_dnd {
    color: #525253 !important;
    background-color: #f7ffb1 !important;
    border: 1px solid #757575;
}
.openerp .dhx_cal_event_selected{
    background-color: #757575;
    color: ffffff;
}
/* Agenda week end */
.openerp .dhx_scale_bar_header {
    border-bottom: 1px dotted #8894A3;
}

/*All*/  
/* increase width of lightbox */
.openerp .dhx_cal_light_wide .dhx_cal_lsection{
    background-image:url(/web_calendar/static/lib/dhtmlxScheduler/codebase/imgs/multi-days-bg.png);
}
/*2.3*/
.openerp .dhx_cal_lsection .dhx_fullday{
    color:#000000;
}
.openerp .dhx_cal_light_wide .dhx_cal_lsection{
    color:#000000;
}
.openerp .dhx_cal_light_wide .dhx_wrap_section{
    border-top:1px solid #757575;
    background-image:url(/web_calendar/static/lib/dhtmlxScheduler/codebase/imgs/multi-days-bg.png);
}
.openerp .dhx_cal_light_wide .dhx_cal_ltext{
    border-left:1px solid #757575;
}
.openerp .dhx_cal_light_wide .dhx_cal_ltext {
    background-color:#ffffff;
}
.openerp .dhx_custom_button{
    background:#ffffff;
    color:#000000;
}
/* timeline second scale start */
.openerp .dhx_cal_header.openerp .dhx_second_cal_header {
    background-image: url("/web_calendar/static/lib/dhtmlxScheduler/codebase/imgs/second-top-days-bg.png");
}
/* timeline second scale end */
.openerp .dhx_cal_light_wide  .dhx_cal_lsection  .dhx_fullday, .openerp .dhx_cal_lsection .dhx_fullday{
    color:#000000;
    font-size: 14px;
}
.openerp .dhx_cal_light_wide .dhx_cal_lsection {
    font-size: 14px;
}
.dhtmlxLayoutPolyContainer_dhx_skyblue .dhx_cal_container {
    background-color: #d0e5ff;
}
.openerp div .dhx_cal_editor{
    border:1px solid #B7A543;
}
.openerp .dhx_cal_light_wide .dhx_repeat_divider {
    border-color: #757575;
}
.openerp .dhx_cal_event .dhx_header, .openerp .dhx_cal_event .dhx_header {
    display:none;
}
