body.openerp {
    padding: 0;
    margin: 0;
    overflow-y: scroll;
}
.openerp {
    padding: 0;
    margin: 0;
    height: 100%;
    font-size: 85%;
    font-family: "Lucida Grande",Helvetica,Verdana,Arial,sans-serif;
}

.openerp, .openerp textarea, .openerp input, .openerp select, .openerp option,
.openerp button, .openerp .ui-widget {
    font-family: "Lucida Grande",Helvetica,Verdana,Arial,sans-serif;
    font-size:90%;
    border: 1px solid #ccc;
}

.openerp .view-manager-main-content {
    width: 100%;
    padding: 0 8px 8px 8px;
    border: 1px solid #E8E8E8;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.openerp .view-manager-main-content td.oe-actions {
     height: 25px;
}

.openerp .oe_form_frame_cell .view-manager-main-content {
    padding: 0;
}

.oe_box {
    border: 1px solid #aaf;
    padding: 2px;
    margin: 2px;
}

#oe_header h2 {
    margin: 2px 0;
}

#oe_errors pre {
    margin: 0;
}

.openerp .oe-listview .oe-number {
    text-align: right !important;
}
.oe-listview-header-columns {
    background: #d1d1d1; /* Old browsers */
}

.openerp .oe_hide {
    display: none !important;
}

/* STATES */
.openerp .on_logged,
.openerp .db_options_row {
    display: none;
}

/* Loading */
.loading {
    cursor: wait;
}
.openerp .loading {
    display: none;
    z-index: 100;
    position: fixed;
    top: 0;
    right: 50%;
    padding: 4px 12px;
    background: #0000FF;
    color: white;
    text-align: center;
    border: 1px solid #0000FE;
    border-top: none;
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.openerp .oe_notification {
    z-index: 1050;
    display: none;
}
.openerp .oe_notification * {
    color: white;
}

/* Login page */

.login {
    padding: 0;
    margin: 0;
    font-family: "Lucida Grande",Helvetica,Verdana,Arial,sans-serif;
    background: url("/web/static/src/img/pattern.png") repeat;
    color: #eee;
    font-size: 6px;
    height: 100%;
}

.login ul, ol {
    padding: 0;
    margin: 0;
}

.login li {
    list-style-type: none;
    padding-bottom: 4px;
    font-size: 14px;

}

.login a {
    color: #eee;
    text-decoration: none;
}

.login button {
    float: right;
    display: inline-block;
    cursor: pointer;
    padding: 6px 16px;
    font-size: 13px;
    font-family: "Lucida Grande",Helvetica,Verdana,Arial,sans-serif;
    border: 1px solid #222222;
    color: black;
    margin: 0;
    background: #87CEEB;
    background: -moz-linear-gradient(#ffbdbd, #a5a8ab);
    background: -webkit-gradient(linear, left top, left bottom, from(#ffbdbd), to(#a5a8ab));
    background: -ms-linear-gradient(top, #ffbdbd, #a5a8ab);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbdbd', endColorstr='#a5a8ab',GradientType=0 );
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(155, 155, 155, 0.4) inset;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(155, 155, 155, 0.4) inset;
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(155, 155, 155, 0.4) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(155, 155, 155, 0.4) inset;
}

.login input, .login select {
    width: 252px;
    font-size: 14px;
    font-family: "Lucida Grande",Helvetica,Verdana,Arial,sans-serif;
    border: 1px solid #999999;
    background: whitesmoke;
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.login input {
    margin-bottom: 9px;
    padding: 5px 6px;
}

.login select {
    padding: 1px;
}

.login .dbpane {
    position: fixed;
    top: 0;
    right: 8px;
    padding: 5px 10px;
    color: #eee;
    border: solid 1px #333;
    background: #1e1e1e;
    background: rgba(30,30,30,0.94);
    -moz-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
}

.login .bottom {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    text-shadow: 0 1px 1px #999999;
    background: #600606;
    background: -moz-linear-gradient(#00BFFF, #1E90FF);
    background: -webkit-gradient(linear, left top, left bottom, from(#00BFFF), to(#1E90FF));
    background: -ms-linear-gradient(top, #00BFFF, #1E90FF);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00BFFF', endColorstr='#1E90FF',GradientType=0 );
}

.login .pane {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -160px -166px;
    border: solid 1px #333333;
    background: #1e1e1e;
    background: rgba(39, 21, 6, 0.73);
    padding: 22px 32px;
    text-align: left;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 0 0 18px rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.9);
}

.login .pane h2 {
    margin-top: 0;
    font-size: 18px;
}

.login .logo {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#left_logo {
    top: 100px;
    left: 275px;
}

#right_logo {
    top: 103px;
    right: 270px;
}

.login .footer {
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 100%;
    text-align: center;
}

.login .footer a {
    font-size: 13px;
    margin: 0 8px;
}

.login .footer a:hover {
    text-decoration: underline;
}

.login .openerp {
    font-weight: bold;
    font-family: serif;
    font-size: 16px;
}

.openerp .login {
    text-align: center;
}

.openerp .login .login_error_message {
    display: none;
    background-color: #0000FF;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8);
    color: #eee;
    font-size: 14px;
    padding: 14px 18px;
    margin-top: 15px;
    text-align: center;
}

.openerp .login.login_invalid .login_error_message {
    display: inline-block;
}



/* Database */
.login .oe-database-manager {
    display: none;
    height: 100%;
    width: 100%;
    background-color: white;
}
.login.database_block .bottom,
.login.database_block .login_error_message,
.login.database_block .pane {
    display: none;
}
.login.database_block .oe-database-manager {
    display: block;
}

.login .database {
    float: left;
    width: 202px;
    height: 100%;
    background: #666666;
}
.login .oe_db_options {
    margin-left: 202px;
    color: black;
    padding-top: 20px;
}

.login .database ul {
    margin-top: 65px;
}

ul.db_options li {
    padding: 5px 0 10px 5px;
    background: #949292; /* Old browsers */
    background: -moz-linear-gradient(top, #949292 30%, #6d6b6b 95%, #282828 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,#949292), color-stop(95%,#6d6b6b), color-stop(100%,#282828)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #949292 30%,#6d6b6b 95%,#282828 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #949292 30%,#6d6b6b 95%,#282828 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #949292 30%,#6d6b6b 95%,#282828 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#949292', endColorstr='#282828',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #949292 30%,#6d6b6b 95%,#282828 100%); /* W3C */
    /* for ie9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#949292', endColorstr='#5B5A5A',GradientType=0 ); /* IE6-9 */
    border: none;
    /* overriding jquery ui */
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1px;
    color: #EEEEEE;
    cursor: pointer;
    width: 195px;
    font-size: 12px;
}

.db_option_table {
    border: 1px solid #5A5858;
    padding: 5px;
    -moz-border-radius: 10px;
}

table.db_option_table input.required {
    background-color: #FF0000 !important;
}

.db_option_table label {
    display: block;
    text-align: right;
}

.db_option_table input[type="text"],
.db_option_table input[type="password"],
.db_option_table input[type="file"],
.db_option_table select {
    width: 300px;
}

.option_string {
    font-weight: bold;
    color: #555;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-size: large;
}

label.error {
    float: none;
    color: red;
    padding-left: .5em;
    vertical-align: top;
}

/* Main*/
.openerp .main_table {
    width: 100%;
    height: 100%;
    background: #e6e6e6;
}
.openerp .oe-application {
    height: 100%;
    background: transparent url("/web/static/src/img/form_sheetbg.png") repeat scroll 0% 0%;
    border: 0px none;
}
.openerp .oe-application-container {
    width: 100%;
    height: 100%;
}

/* IE Hack - for IE < 9
 * Avoids footer to be placed statically at 100% cutting the middle of the views
 * */
.openerp .oe-application-container {
    height: auto\9;
    min-height: 100%\9;
}

/* Menu */
/* Upper Menu */
.openerp .menu {
    height: 24px;

    background: #e6e6e6; /* Old browsers */
    background: -moz-linear-gradient(top, #FAFAFA 0%, #FAFAFA 8%, #transparent 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(8%,#FAFAFA), color-stop(100%,#transparent)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #FAFAFA 0%,#FAFAFA 8%,#transparent 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #FAFAFA 0%,#FAFAFA 8%,#transparent 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #FAFAFA 0%,#FAFAFA 8%,#transparent 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FAFAFA', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #FAFAFA 0%,#FAFAFA 8%,#transparent 100%); /* W3C */
    float: left;
    position: absolute;
    margin-top: 0px;
    margin-left: 200px;
}
.openerp .menu td {
    text-align: center;
    padding:0;
}
/* Menu Buttons */
.openerp .menu a {
    display:block;
    min-width: 60px;
    height: 8px;
    margin: 0px 2px;
    padding: 0px 2px 12px 8px;

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FAFAFA', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */

    border: 1px solid #8e8e8e;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

    color: #6e6e6e;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 20px;
    font-weight: bold;
    font-size: 85%;

    white-space: nowrap;
}

.openerp .menu a:hover,
.openerp .menu a:focus,
.openerp .menu a.active {
    background: #FAFAFA; /* Old browsers */
    /* for ie */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
/*    color: #e6e6e6; */
    font-weight: bold;
    font-size: 85%;    
}
/* Secondary Menu */
.openerp .secondary_menu .oe_toggle_secondary_menu {
    position: absolute;
    cursor: pointer;
    border-left: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    width: 23px;
    height: 23px;
    z-index: 10;
    background: #FDFDFD;
    color: #1e1e1e;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    right: 0;
    border-radius: 13px
}
.openerp .secondary_menu.oe_folded .oe_toggle_secondary_menu {
    position: static;
    border-left: none;
    border-bottom: 1px solid #e6e6e6;
    width: 21px;
    height: 21px;
    background: #7C7BAD;
}
.openerp .secondary_menu.oe_folded .oe_toggle_secondary_menu span.oe_menu_fold {
    display: none;
}
.openerp .secondary_menu.oe_unfolded .oe_toggle_secondary_menu span.oe_menu_unfold {
    display: none;
}
.openerp .secondary_menu {
    width: 200px;
    min-width: 200px;
    background: transparent url("/web/static/src/img/form_sheetbg.png") repeat scroll 0% 0%;
    vertical-align: top;
    height: 100%;
    display: block;
    position: relative;
    font-size: 100%;

}

.openerp .secondary_menu img,
.openerp .menu img {
    position:relative;
    top: 4px;
    height: 16px;
    width: 16px;
}

.openerp .secondary_menu.oe_folded {
    width: 20px;
    min-width: 20px;
    position: static;
}
.openerp .secondary_menu.oe_folded .oe_secondary_menu.active {
    position: fixed;
    margin-left: 200px;
    margin-top: 20px;
    z-index: 100;

    border-color: #e6e6e6;
    border-radius: 4px;
    min-width: 200px;
}
.openerp .secondary_menu a {
    display: block;
    padding: 0 5px 2px 5px;
    line-height: 20px;
    text-decoration: none;
    white-space: nowrap;
    color: #1e1e1e;

}
.openerp .oe_secondary_submenu {
    background: #FAFAFA;
}
.openerp .secondary_menu a.oe_secondary_menu_item {
    font-weight: bold;
    color: #7C7BAD;
    border: 1px solid #CECECE;
    border-radius: 14px;
    background: transparent url("/web/static/src/img/form_sheetbg.png") repeat scroll 0% 0%
}
.openerp a.oe_secondary_submenu_item {
    padding: 0 5px 2px 10px;
}
.openerp a.oe_secondary_submenu_item,
.openerp a.oe_secondary_menu_item {
    overflow: hidden;
    text-overflow: ellipsis;
}
.openerp a.oe_secondary_submenu_item:hover,
.openerp a.oe_secondary_submenu_item.leaf.active {
    display: block;
    background:  #7c7bad none repeat scroll 0% 0%;
    padding: 0 5px 2px 10px;
    line-height: 20px;
    color: white;
    border-radius: 14px;
}
.openerp a.oe_secondary_submenu_item.submenu.opened span:before {
    content: "\25be";
}
.openerp a.oe_secondary_submenu_item.submenu span:before {
    content: "\25b8";
}

/* Header */
.openerp .header {
    height: 31px;
    background: #transparent;
    background: -moz-linear-gradient(top, #FAFAFA 0%, #e6e6e6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#e6e6e6));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FAFAFA', endColorstr='#e6e6e6',GradientType=0 );
    color: #6e6e6e;
    letter-spacing: 0.5px;
}
.openerp .company_logo_link {
    display: block;
    float: left;
    height: 55px;
    width: 200px;
    border: 1px transparent;
    border-right-color: black;
    border-bottom-color: black;
    background: #e6e6e6;
    background: -moz-linear-gradient(top, #FAFAFA 0%, #e6e6e6 60%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(60%,#e6e6e6));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FAFAFA', endColorstr='#e6e6e6',GradientType=0 );
}
.openerp .company_logo {
    margin-top: 0px;
    margin-left: 0px;
    display: block;
    background: url(/web/static/src/img/logo.png);
    width:200px;
    height:60px;
}
/* Company name header */
.openerp .header_title {
    float: left;
    font-size: 85%;
    margin: 0;
    padding: 0px 0px;
    text-shadow: 0 1px 0 #FAFAFA;
    font-weight:bold;
    line-height:14px;
}
/* User name header */
.openerp .header_title small {
    color: #6e6e6e;
    font-size: 85%;
    font-weight: normal;
}
.openerp .header_corner {
    float: right;
}
.openerp .header_corner .block {
    float: left;
    height: 16px;
    line-height: 14px;
    /*background: url(../images/top-sep-a.png) no-repeat;*/
    border-left: 1px solid #6a6a6a;
    background: #transparent;
    background: -moz-linear-gradient(top, #828282 0%, #transparent 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#828282), color-stop(100%,#transparent));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#828282', endColorstr='#e6e6e6',GradientType=0 );
}
.openerp .header_corner .block a {
    display: block;
    color: #6e6e6e;
    text-decoration: none;
    padding: 0 10px;
}
.openerp .header_corner .block a:hover {
    background: #transparent;
    background: -moz-linear-gradient(top, #929292 0%, #transparent 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#929292), color-stop(100%,#transparent));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#929292', endColorstr='#e6e6e6',GradientType=0 );
    color: #000000;
    font-weight: bold;
}
.openerp .header_corner ul.block {
    list-style: none;
    height: 16px;
    margin: 0;
    padding: 0 0 0 2px;
    line-height: 14px;
}
.openerp .header_corner ul.block li {
    float: left;
}
.openerp .header_corner ul.block li a {
    padding: 0 3px;
    position: relative;
    line-height: 0px;
}
.openerp .header_corner ul.block li a img {
    vertical-align: middle;
}
.openerp .header_corner ul.block li a small {
    position: absolute;
    right: 0;
    top: 5px;
    padding: 1px 4px 2px;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    line-height: 1em;
    font-weight: bold;
}

.openerp .logout {
    font-size:80%;
}

/* Footer */
.openerp div.oe_footer {
    overflow: hidden;
    position: relative;
}
.openerp div.oe_footer p.oe_footer_powered {
    left: 50%;
    margin: 0;
    padding: 0 15px;
    color: #666666;
    font-weight: bold;
    font-size: 0.8em;
    text-align: center;
}
.openerp div.oe_footer p.oe_footer_powered a {
    text-decoration: none;
    color: #666666;
}


/* Main Application */
.openerp .oe-main-content {
    padding: 0;
    height: 100%;
}

.openerp h2.oe_view_title {
    font-size: 110%;
    font-weight: normal;
    margin: 0 0;
    margin-left: 10px;
    color: #252424;
    text-shadow: white 0 1px 0;
}

.openerp oe_view_title > a {
    margin-left: 10px;
}

.openerp div[id^="notebook"] .oe_view_title {
    font-size:85%;
    padding-bottom:4px;
}

/* View Manager */
.openerp .oe_vm_switch {
    margin-top: 3px;
    float: left;
}
.openerp .oe-view-manager-header .oe_view_title {
    font-size:150%;
    padding:2px 0 0 0;
}

/* SearchView */
.openerp .oe_searchview_field > div {
    position: relative;
    white-space: nowrap;
}
.openerp .oe_searchview_field .oe_input_icon {
    top: auto;
    bottom: 3px;
}

.openerp .filter_label, .openerp .filter_icon {
    background: #e6e6e6;
    border: 1px solid #c9c9c9;
    background: -moz-linear-gradient(top, #FAFAFA 0%, #e6e6e6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#e6e6e6));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FAFAFA', endColorstr='#e6e6e6',GradientType=0 );
}
.openerp .filter_label:hover, .openerp .filter_icon:hover {
    background: #e6e6e6;
    background: -moz-linear-gradient(top, #e8e8e8 0%, #e6e6e6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e8e8), color-stop(100%,#e6e6e6));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#e6e6e6',GradientType=0 );
}
.openerp .filter_label:active, .openerp .filter_icon:active {
    background: #e6e6e6;
    background: -moz-linear-gradient(top, #e8e8e8 0%, #e6e6e6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e8e8), color-stop(100%,#e6e6e6));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#e6e6e6',GradientType=0 );
}
.openerp .filter_label.enabled, .openerp .filter_icon.enabled {
    background: #e6e6e6;
    filter: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    color: #000000;
    font-weight: bold;
}
.openerp .filter_icon {
    height: 25px;
    padding: 1px 2px 0 2px;
    margin: 0;
    vertical-align: bottom;
}
.openerp .filter_label {
    font-weight: normal;
    text-transform: uppercase;
    text-shadow: #FAFAFA 0 1px 0;
    color: #8e8e8e;
    white-space: nowrap;
    min-height: 40px;
    min-width: 75px;
    padding: 2px 4px;
    margin: 0;
}
.openerp .filter_label_group {
    padding-right: 0.4em;
    white-space: nowrap;
}

.openerp .filter_label_group button {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-right: none;
}
.openerp .filter_label_group button:first-child {
    -webkit-border-top-left-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-bottomleft: 7px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border-right: none;
}
.openerp .filter_label_group button:last-child {
    -webkit-border-top-right-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-bottomright: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-right: 1px solid #c9c9c9;
}
.openerp .filter_label_group button.filter_icon img {
    padding: 1px 8px 0 8px;
}
.openerp .filter_label_group button.filter_icon:first-child {
    border-left: solid 1px #e6e6e6;
    margin-left: -7px;
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-bottomleft: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.openerp .searchview_group_string {
    display: block;
    color: #8e8e8e;
    font-weight: normal;
    padding: 1px 0 1px 10px;
    text-decoration: none;
    
}
.openerp .searchview_group_string:hover {
    background-color: #cccccc;
}
.openerp .searchview_group.folded .searchview_group_string {
    background: url("/web/static/src/img/ui/group-folded.png") no-repeat scroll 4px 50%;
}
.openerp .searchview_group.folded .searchview_group_content {
    display: none;
}
.openerp .searchview_group.expanded .searchview_group_string {
    background: url("/web/static/src/img/ui/group-expanded.png") no-repeat scroll 0 50%;
}
.openerp .searchview_group.expanded .searchview_group_content {
    display: block;
    padding-bottom:3px;
}

.openerp .searchview_group_content .oe_label, .openerp .searchview_group_content .oe_label_help {
    font-weight: bold;
    color: #4c4c4c;
}

.openerp .oe-searchview-render-line .oe_label, .openerp .oe-searchview-render-line .oe_label_help {
    font-weight: bold;
    font-size: 85%;
    white-space: nowrap;
}

.openerp .searchview_extended_group {
    padding: 3px;
    margin: 2px;
}

.openerp .searchview_extended_group .oe_adv_filters_and {
    border-bottom: 1px solid #8E8E8E;
    text-align: center;
    margin-top: -10px;
}
.openerp .searchview_extended_group .oe_adv_filters_and span {
    background: #F0EEEE;
    position: relative;
    top: 0.5em;
    padding: 0 1em 0 1em;
    color: #8E8E8E;
}

.openerp .searchview_extended_group.last_group .oe_adv_filters_and {
    display: none;
}

.openerp .oe_search-view-buttons {
    padding: 2px 0 10px 0;
    vertical-align:middle;
}
.openerp .oe_search-view-filters-management {
    float: right;
}
.openerp .oe_search-view-filters-management, .openerp .oe_search-view-custom-filter-btn {
    float:right;
}

.openerp .searchview_extended_add_proposition span {
    font-size: 0.9em;
    background: url(/web/static/src/img/icons/gtk-add.png) repeat-y;
    padding-left: 18px;
}

.openerp .searchview_extended_delete_group {
    float:right;
    display: none;
}

.openerp .searchview_extended_delete_prop {
    text-decoration: none;
}

.openerp .searchview_extended_delete_group span,
.openerp .searchview_extended_delete_prop span {
    font-size: 0.9em;
    background: url(/web/static/src/img/icons/gtk-close.png) repeat-y;
    padding-left: 18px;
}
/* List */
.openerp table.oe-listview-content {
    clear: right;
    width: 100%;
    border-spacing: 0;
}

.openerp .oe-listview thead table {
    width: 100%;
    border:  none;
    background: #FFF none repeat scroll 0% 0%;
}
.openerp .oe-listview tr.odd {
    background-color: #f0f0f0;
}
.openerp .oe-listview tr.odd.selected {
    background-color: #73B0FF;
}
.openerp .oe-listview tr.even.selected {
    background-color: #9CC7FF;
}
.openerp .oe-listview tr.selected:hover {
    background-color: #529DFF;
}
.openerp .oe-listview tbody tr:hover {
    background-color: #ecebf2;
}
.openerp .oe-listview tbody tr:hover {
    background-color: #eae9f0;
}
.openerp .oe-listview thead table tr,
.openerp .oe-listview thead table tr:hover {
    background: none;
}

.openerp .oe-listview > table > tbody > tr > td,
.openerp .oe-listview th {
    vertical-align: middle;
    text-align: left;
    padding: 1px 2px;
}

.openerp .oe-record-delete button,
.openerp button.oe-edit-row-save {
    border: none;
    height: 12px;
    width: 12px;
    background: url("/web/static/src/img/attachments-close.png") no-repeat scroll center center transparent;
    cursor: pointer;
}

.openerp .oe-record-edit-link button {
    background: url("/web/static/src/img/pencil.gif") no-repeat scroll center center transparent;
}

.openerp button.oe-edit-row-save {
    background-image: url('/web/static/src/img/icons/save-document.png');
}

/* Could use :not selectors if they were supported by MSIE8... */
.openerp .oe-listview > table > tbody > tr > td {
    border-left: 1px solid #FAFAFA; /*currently commenting to test with no vertical lines in list view*/
}
.openerp .oe-listview tbody td:first-child,
.openerp .oe-listview tbody td.oe-button,
.openerp .oe-listview tbody td.oe-button,
.openerp .oe-listview tbody th.oe-record-selector,
.openerp .oe-listview tbody td.oe-record-delete {
    border-left: none;
}

.openerp .oe-listview td.oe-record-delete {
    text-align: right;
}
.openerp .oe-listview th.oe-sortable {
    cursor: pointer;
    font-size: 75%;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    padding-left: 3px;
    color: #333;
#    text-align: center;
#    border-left: 1px solid #FAFAFA;
}
.openerp .oe-listview th.oe-sortable .ui-icon {
    margin: -4px 0 0;
    display: inline;
    display: inline-block;
    vertical-align: middle;
}

.openerp .oe-listview > table > tbody > tr > td {
#    border-bottom: 1px solid #E3E3E3;
}


.openerp .oe-listview td.oe-actions {
    border-bottom:none;
    width: 90%;
}

#.openerp .oe-listview .oe-record-selector, .openerp .oe-listview .oe-record-edit-link {
#    border-bottom: 1px solid #E3E3E3;
#}

.openerp .oe-listview .oe-record-selector, .openerp .oe-listview .oe-record-edit-link {
}

.openerp .oe-listview .oe-record-edit-link {
    cursor: pointer;
}

.openerp .oe-listview .oe-field-cell {
    cursor: pointer;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 85%;
}
.openerp .oe-listview .oe-field-cell progress {
    width: 100%;
}
.openerp .oe-listview .oe-field-cell.oe-button button,
.openerp .oe-listview .oe_form_button button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    width: 16px;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.openerp .oe-listview .oe-field-cell button:active {
    opacity: 0.5;
}
.openerp .oe-listview .oe-field-cell button img {
    cursor: pointer;
}
.openerp .oe-listview .oe-field-cell button img:hover {
    opacity: 0.75;
}

.openerp .oe-listview .oe-field-cell .oe-listview-button-disabled img {
    opacity: 0.5;
}

.openerp .oe-listview th.oe-actions {
    text-align: left;
    white-space: nowrap;
}
.openerp .oe-listview th.oe-list-pager {
    text-align: left;
    white-space: nowrap;
}
.openerp .oe-list-pager .oe-pager-state {
    cursor: pointer;
    font-size: 85%;
    color: #555;
}

.openerp .oe_button.oe_button_pager,
.openerp .oe-list-pager > span,
.openerp .oe_form_pager > span {
   line-height: 19px;
   height: 19px;
   cursor: pointer;
   color: gray;
   font-weight: bold;
   vertical-align: middle;
}
.openerp .oe_button.oe_button_pager,
.openerp .oe_button.oe_button_pager:disabled {
    padding: 0 3px 0 3px;
    margin: 0;
    height: 19px;
}
.openerp .oe-listview .oe-group-name {
    padding-right: 1em;
}
.openerp .oe-listview .oe-group-name,
.openerp .oe-listview .oe-group-pagination {
    white-space: nowrap;
}

.openerp .oe-listview tfoot td {
    padding: 3px 3px 0;
}
.openerp .oe-listview .oe-list-footer {
    text-align: center;
    white-space: nowrap;
    color: black;
    font-size: 85%;
}
.openerp .oe-listview .oe-list-footer span {
    margin: 0 1em;
}
.openerp .oe-listview .oe-list-footer progress {
    vertical-align:-10% !important;
    width: 100%;
}

/** list rounded corners

    rounded corners are a pain on tables: need to round not only table, but
    also on the first and last children of the first and last row
 */
.openerp .oe-listview table.oe-listview-content {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border-color: rgb(240, 240, 240);
}
.openerp .oe-listview table.oe-listview-content thead tr:first-child th:first-child {
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
}
.openerp .oe-listview table.oe-listview-content thead tr:first-child th:last-child {
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
}
.openerp .oe-listview table.oe-listview-content tfoot tr:last-child th:first-child,
.openerp .oe-listview table.oe-listview-content tfoot tr:last-child td:first-child,
.openerp .oe-listview table.oe-listview-content tbody:last-child tr:last-child th:first-child {
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
}
.openerp .oe-listview table.oe-listview-content tfoot tr:last-child th:last-child,
.openerp .oe-listview table.oe-listview-content tfoot tr:last-child td:last-child,
.openerp .oe-listview table.oe-listview-content tbody:last-child tr:last-child td:last-child {
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px;
}

/* Notebook */
.openerp .oe_form_notebook {
    border-color: #DDD;
    border-style: solid;
    border-width: 0px 0px 1px;
    background: white;
}
.openerp .oe_form_notebook .ui-tabs-panel {
    padding: 1px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    color: #0069D6;
    background: transparent none repeat scroll 0% 0%;
}
.openerp .oe_form_notebook ul.ui-tabs-nav {
    padding-left: 0;
    background: none;
    border-width: 0;
    border-radius: 0;
    height: 20px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    line-height: 20px;
    font-size: 95%;
    color: #8e8e8e;
    font-weight: normal;
}
.openerp .oe_form_notebook ul.ui-tabs-nav li {
    font-weight: normal;
    padding: 0px 10px 0px;
}
.openerp .oe_form_notebook .ui-tabs-panel {
    background: #FAFAFA;
    border-width: 1px;
    border-color: #dedede;
}
.openerp .oe_form_notebook .ui-tabs-selected {
    background: white;

}
/* Unedit Form */
.openerp .field_char,
.openerp .field_date,
.openerp .field_float,
.openerp .field_selection,
.openerp a.oe_form_uri {
    vertical-align: middle;
    padding-top: 3px;
/*    font-size: 90%; */
    color: #000000;
    max-width: 350px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.openerp a.oe_form_uri {
    color: #9A0404;
    line-height: 12px;
    padding-bottom: 5px;
}



/* Form */
.openerp .oe_form_button_save_dirty {
    display: none;
}
.openerp .oe_form_dirty > .oe_form_header > .oe_form_buttons > .oe_form_button_save {
    color: white;
    background: #e6e6e6;
    background: -moz-linear-gradient(#FAFAFA, #e6e6e6);
    background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#e6e6e6));
    background: -webkit-linear-gradient(#FAFAFA, #e6e6e6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr= #FAFAFA, endColorstr= #e6e6e6, GradientType=0); // IE9 and down
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-weight: bold;
}
.oe_form_buttons {
    position: relative;
    top: 0px;
    left: 10px;
}
.oe_form_header {
    overflow: auto;
    padding: 3px 0 3px 2px;
    margin: 3px 0 3px 2px;
}

.openerp .placeholder {
  color: #afafb6 !important;
  font-style: italic !important;
}

.openerp .oe_form_frame_cell input[type="checkbox"] {
    margin-top: 3px;
    vertical-align: middle;
}
.openerp .oe_form_frame_cell .input[type="text"] {
    padding-bottom: 1px;
    border-right: 1px solid #DDD;
}

.openerp table.oe_frame td {
    color: #4c4c4c;
    border: 0px;
}
.openerp td.oe_form_frame_cell {
    padding: 2px;
    position: relative;
}
.openerp .oe_frame.oe_forms {
    clear: both;
}
.openerp table.oe_frame {
    color: #4c4c4c;
}
.openerp fieldset.oe_group_box {
    moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #F9F9F9;
    padding: 4px;
}
.openerp fieldset.oe_group_box legend {
    font-weight: bold;
}
.openerp td.oe_form_frame_cell {
    padding: 2px;
    position: relative;
}
.openerp td.oe_form_field_translatable,
.openerp td.oe_form_field_many2one,
.openerp td.oe_form_field_date,
.openerp td.oe_form_field_datetime {
    white-space: nowrap;
}
.openerp td.oe_form_field_boolean {
    padding-top: 4px;
}
.openerp td.oe_form_frame_cell.oe_form_group {
    padding: 0;
}
.openerp .required.error {
    border: 1px solid #900;
}
.openerp .oe_form_buttons, .openerp .oe_list_buttons {
    float: left;
}
.openerp .oe_form_pager, .openerp .oe_list_pager {
    float: left;
    font-size: 85%;
    color: gray;
    font-weight: bold;
}

.openerp .oe_form_pager {
}


.openerp label.oe_label_help, .openerp label.oe_label,
.openerp .oe_form_paragraph,
.openerp .oe_form_field_statusbar,
.openerp .oe_forms input[type="text"],
.openerp .oe_forms input[type="password"],
.openerp .oe_forms input[type="file"],
.openerp .oe_forms select,
.openerp .oe_forms .oe_button,
.openerp .oe_forms textarea {
/*    font-size: 90%; */
    font-weight: normal;
}

.openerp label.oe_label_help, .openerp label.oe_label {
    display: block;
    color: #4c4c4c;
    font-weight: normal;
}
.openerp label.oe_label_help {
    cursor: help;
}
.openerp .oe_form_frame_cell  .oe_label, .openerp .oe_form_frame_cell  .oe_label_help {
    font-weight: normal;
    border-right: 1px solid #DDD;
    padding: 2px 0px;
}
.openerp #tiptip_content {
    font-size: 12px;
}
.openerp .oe_tooltip_string {
    color: #FD5;
    font-weight: bold;
    font-size: 13px;
}
.openerp .oe_tooltip_help {
    white-space: pre-wrap;
}
.openerp .oe_tooltip_technical {
    padding: 0 0 4px 0;
    margin: 5px 0 0 15px;
    list-style: circle;
}
.openerp .oe_tooltip_technical_title {
    font-weight: bold;
}

.openerp .oe_forms label.oe_label, .openerp .oe_forms label.oe_label_help {
    margin: 2px 0 0 0px;
    white-space: nowrap;
    font-weight: normal;
    color: #1e1e1e;
    font-weight: bold;
    text-align: left !important;
    padding-right: 4px;
}
.openerp .oe_forms .searchview_group_content label.oe_label, .openerp .searchview_group_content .oe_forms label.oe_label_help { /* making a distinction between labels in search view and other labels */
    margin: 3px 0 0 3px;
}

.openerp label.oe_label_help span {
    font-size: 85%;
    color: darkgreen;
    vertical-align:top;
    position: relative;
    top: -4px;
    padding: 0 2px;
}
.openerp .oe_align_left {
    text-align: left;
}
.openerp .oe_align_right {
    text-align: right;
}
.openerp .oe_align_center {
    text-align: center;
}
.openerp .oe_forms .oe_form_paragraph {
    margin: 3px 0 0 0;
    white-space: normal;
}

.openerp .oe_forms .oe_form_paragraph.oe_multilines {
    white-space: pre;
}

.openerp .oe_form_field_one2many .oe-actions h3.oe_view_title,
.openerp .oe_form_field_one2many_list .oe-actions h3.oe_view_title{
    display: inline;
    margin: 0 0.5em 0 0;
    font-size: 12px
}
.openerp .oe_form_field_one2many .oe-listview .oe-edit-row-save,
.openerp .oe_form_field_one2many_list .oe-listview .oe-edit-row-save {
    background-image: url("/web/static/src/img/iconset-b-remove.png");
}

.openerp .oe_forms .oe-listview th.oe-sortable .ui-icon,
.openerp .oe_forms .oe-listview th.oe-sortable .ui-icon {
    height: 100%;
    margin-top: -9px;
}

.openerp table.oe_frame .oe-listview-content td {
    color: inherit;
}

.blockUI.blockOverlay {
  background-color: black;
  opacity: 0.6;
}

/* Uneditable Form View */
.openerp .oe_form_readonly {

}
.openerp .oe_form_readonly .oe_form_frame_cell .field_text,
.openerp .oe_form_readonly .field_char,
.openerp .oe_form_readonly .field_int,
.openerp .oe_form_readonly .field_float,
.openerp .oe_form_readonly .field_email,
.openerp .oe_form_readonly .field_date,
.openerp .oe_form_readonly .field_selection,
.openerp .oe_forms_readonly .oe_form_field_many2one {
    padding: 4px 2px 2px 0px;
#    background-color: white;
    min-height: 17px;
}
.openerp .oe_form_readonly .oe_form_frame_cell .field_text {
    height: auto;
}
.openerp .oe_form_readonly .field_datetime {
    padding: 6px 2px 2px 2px;
#    background-color: white;
    height:19px;
    color: #000;
}
.openerp .oe_form_readonly .oe_form_field_many2one div {
#    background-color:white;
    height:18px;
    margin-bottom:1px;
    padding: 5px 2px 5px 2px;
}

.openerp .oe_form_readonly .oe_form_field_email div  {
    background-color: white;
    padding: 1px 2px 3px 2px;
}


.openerp .oe_form_readonly .oe_form_field_text div.field_text,
.openerp .oe_form_readonly .oe_form_field_text_html div.field_text_html {
    white-space: pre-wrap;
}
.openerp .oe_form_readonly .oe_form_frame_cell .field_text  {
    min-height:100px;
}
/* Inputs */
.openerp .oe_forms input[type="text"],
.openerp .oe_forms input[type="password"],
.openerp .oe_forms input[type="file"],
.openerp .oe_forms select,
.openerp .oe_forms textarea {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 2px;
    margin: 0 2px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 6px;
    background: white;
    min-width: 90px;
    color: #1f1f1f;
}
.openerp .oe_forms input[name="account_id"]{
    min-width: 300px;
}

.openerp .oe_forms input.field_binary,
.openerp .oe_forms input.field_email,
.openerp .oe_forms input.field_url  {
    border-right: none;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.openerp .oe_button.oe_field_button {
    -webkit-border-top-left-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-right:-1px;
    height: 25px;
}

.openerp .oe_form_field_email button img,
.openerp .oe_form_field_url button img {
    vertical-align: top;
}
/* vertically recentering filter management select tag */
.openerp select.oe_search-view-filters-management { 
    margin-top:2px;
}

.openerp .oe_forms select{
    padding-top: 2px;
}
.openerp .oe_forms input[readonly],
.openerp .oe_forms select[readonly],
.openerp .oe_forms textarea[readonly],
.openerp .oe_forms input[disabled],
.openerp .oe_forms select[disabled],
.openerp .oe_forms textarea[disabled]{
    border: 0px;
    background-color: #FAFAFA !important;
}
.openerp .oe_forms textarea {
    resize:vertical;
}
.openerp .oe_forms input[type="text"],
.openerp .oe_forms input[type="password"],
.openerp .oe_forms input[type="file"],
.openerp .oe_forms select,
.openerp .oe_forms .oe_button {
    height: 25px;
}

.openerp .oe_forms input.field_datetime {
    min-width: 11em;
}
.openerp .oe_forms .oe_form_button .oe_button {
    /* color: #4c4c4c; */
    white-space: nowrap;
    min-width: 100%;
    width: 100%;
    border-radius: 14px;
    /* border-color: #E30000; */
}
@-moz-document url-prefix() {
    /* Strange firefox behaviour on width: 100% + white-space: nowrap */
    .openerp .oe_forms .oe_form_button .oe_button {
        width: auto;
    }
}
/* IE Hack - for IE < 9
 * Avoids buttons overflow
 * */
.openerp .oe_forms .oe_form_button .oe_button {
    min-width: auto\9;
}
.openerp .oe_forms .button {
    height: 25px;
}
.openerp .oe_forms .oe_button span {
    position: relative;
    vertical-align: top;
}
.openerp .oe_input_icon {
    cursor: pointer;
    margin: 3px 0 0 -21px;
    vertical-align: top;
}
.openerp .oe_datepicker_container {
    display: none;
}
.openerp .oe_datepicker_root {
    display: inline-block;
}
.openerp .oe_form_frame_cell .oe_datepicker_root {
    width: 100%;
}
.openerp .oe_input_icon_disabled {
    display: none !important;
    position: absolute;
    cursor: default;
    opacity: 0.5;
    filter:alpha(opacity=50);
    right: 5px;
    top: 3px;
}
.openerp .oe_trad_field.touched {
    border: 1px solid green !important;
}

/* http://www.quirksmode.org/dom/inputfile.html
 * http://stackoverflow.com/questions/2855589/replace-input-type-file-by-an-image
 */
.openerp .oe-binary-file-set {
    overflow: hidden;
    position: relative;
}
.openerp input.oe-binary-file {
    z-index: 0;
    line-height: 0;
    font-size: 12px;
    position: absolute;
    /* Should be adjusted for all browsers */
    top: 1px;
    right: 10px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -ms-filter: "alpha(opacity=0)";
    margin: 0;
    padding:0;
}

/* Widgets */
.openerp .separator {
    border: 0 solid #666;
}
.openerp .separator.horizontal {
    font-weight: bold;
    font-size: 20px;
    margin: 15px 0px 10px 0px;
    color: #7C7BAD;
    /*
    font-weight: bold;
    border-bottom-width: 1px;
    border-color
    margin: 3px 4px 3px 1px;
    font-size: 120%;
    color: #7C7BAD;
    */
}
.openerp .separator.horizontal:empty {
    height: 5px;
}
.openerp .oe_form_frame_cell.oe_form_separator_vertical {
    border-left: 1px solid #666;
}
.openerp td.required input,
.openerp td.required select,
.openerp td.required textarea,
.openerp td.required table.oe-listview-content {
    background-color: #D2D2FF !important;
}
.openerp td.invalid input, .openerp td.invalid select, .openerp td.invalid textarea {
    background-color: #F66 !important;
    border: 1px solid #D00 !important;
}
.openerp td.invalid table.oe-listview-content {
    border: 1px solid #FF6666 !important;
}
.openerp div.oe-progressbar span {
    position: absolute;
    margin-left: 10px;
    margin-top: 5px;
    font-weight: bold;
}

/* jQuery UI override */
.openerp .ui-widget {
    font-size: 1em;
}
.openerp .oe_form_field_progressbar .ui-progressbar {
    height: 25px;
    font-size: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: white;
    min-width: 90px;
}
.openerp .oe_list_progressbar_outer {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #AAAAAA;
    background: #EEEEEE;
    border-radius: 3px;
    font-size: 11px;
}
.openerp .oe_list_progressbar_inner {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #AAAAAA;
    background: #AAAAAA;
    height: 100%;
    margin-top: -1px;
    margin-bottom: -1px;
}
.openerp .oe_list_progressbar_text {
    position: relative;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.openerp tbody.ui-widget-content {
    margin-bottom: 10px;
    border-spacing: 4px;
}
.openerp .ui-widget-header {
    border: 0px;
    background: transparent url("/web/static/src/img/form_sheetbg.png") repeat scroll 0% 0%;
}
/* progress bars */
.openerp .ui-progressbar .ui-widget-header {
   background: #d1d1d1;

}

/* Sidebar */
.openerp .view-manager-main-table {
    margin: 0;
    width: 100%;
    height: 100%;
/*    border-collapse: collapse; */
    background: #FFF none repeat scroll 0% 0%;
}

.openerp .view-manager-main-table tbody {
    vertical-align: top;
}

.openerp .oe-view-manager-header {
    overflow: auto;
    background: none;
    margin:6px 6px 6px 2px;
}
.openerp .oe_form_frame_cell .oe-view-manager-header { /* Trick: remove the background when element is in a formular */
    background: none;
}

.openerp .oe-view-manager-header h2 {
    float: left;
}

.openerp .oe_view_manager_menu_tips blockquote {
    display: none;
    font-size: 100%;
    margin: 0;
    background: #FAFAFA;
    border-bottom: 1px solid #CECBCB;
    padding: 1px 10px;
    color: #4C4C4C;
}
.openerp .oe_view_manager_menu_tips blockquote p {
    margin: 0;
    padding: 6px 1px 4px;
}

.openerp .oe_view_manager_menu_tips blockquote div {
    text-align: right;
    margin-right:10px;
}

.openerp .oe_view_manager_menu_tips blockquote div button {
    border: none;
    background: none;
    padding: 0 4px;
    margin: 0;
    display: inline;
    text-decoration: underline;
    color: inherit;
}
.openerp .oe-view-manager-logs {
    clear: both;
    background: #FAFAFA;
    margin: 0.25em 0;
    font-size: 85%;
    color: #4C4C4C;
    position: relative;
    overflow: hidden;
}
.openerp .oe-view-manager-logs ul {
    margin: 0;
    padding: 0 10px;
    list-style: none;
}
.openerp .oe-view-manager-logs li:before {
    content: '\2192 ';
}
.openerp .oe-view-manager-logs a {
    text-decoration: none;
    color: inherit;
}
/* only display first three log items of a folded logs list */
.openerp .oe-view-manager-logs.oe-folded li:nth-child(n+4) {
    display: none;
}
/* display link to more logs if there are more logs to view and the logview is
   currently folded */
.openerp .oe-view-manager-logs a.oe-more-logs {
    display: none;
}
.openerp .oe-view-manager-logs.oe-folded.oe-has-more a.oe-more-logs {
    display: block;
}
.openerp .oe-view-manager-logs a.oe-remove-everything {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.openerp .view-manager-main-sidebar {
    width: 180px;
    padding: 0;
    margin: 0;
    background: transparent url("/web/static/src/img/form_sheetbg.png") repeat scroll 0% 0%;
}

.openerp .sidebar-main-div {
    height: 100%;
}

.openerp .sidebar-content {
    padding: 0;
    margin: 0;
    width: 200px;
    height: 100%;
}

.openerp .closed-sidebar .sidebar-content {
    width: 25px;
}

.openerp .closed-sidebar .sidebar-content {
    display: none;
}

.openerp .sidebar-main-div a {
    text-decoration: none;
}

.openerp .sidebar-main-div a:hover {
    color: white;
    background-color: #7c7bad;
    border-radius: 14px;
    padding: 0px 0px 0px 0px;
}

.openerp .oe-sidebar-attachments-toolbar {
    margin: 4px 0 0 4px;
}
.openerp .oe-sidebar-attachments-items {
    clear: both;
    padding-top: 5px !important;
}
.openerp .oe-sidebar-attachments-items li {
    position: relative;
    padding: 0 0 3px 10px !important;
}
.openerp .oe-sidebar-attachments-items li:hover {
    background: #ddd;
}
.openerp .oe-sidebar-attachments-link {
    display: block;
    margin-right: 15px;
    overflow: hidden;
}
.openerp .oe-sidebar-attachment-delete {
    position: absolute;
    right: 2px;
    top: 1px;
    overflow: hidden;
    width: 15px;
    height: 15px;
    padding: 1px;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}
.openerp .oe-sidebar-attachment-delete:hover {
    background-color: white;
}

.openerp .view-manager-main-sidebar h2 {
    margin:0;
    font-size: 100%;
    color: #7C7BAD;
    padding-left: 10px;
    padding-right: 21px;
    padding-top: 3px;
    height: 22px;
  /*   background: #E6E6E6;
    border: 1px solid #CECECE;
    border-radius: 12px; */
    font-weight: bold;
}

.openerp .view-manager-main-sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
}

.openerp .view-manager-main-sidebar li {
    display: block;
    padding: 3px 3px 3px 30px;
}

.openerp .toggle-sidebar {
    cursor: pointer;
    border: 1px solid #E6E6E6;
    border-top-width: 0;
    display: block;
    background: url(/web/static/src/img/toggle-a-bg.png);
    width: 21px;
    height: 21px;
    z-index: 10;
}
.openerp .open-sidebar .toggle-sidebar {
    margin-left: 178px;
    MARGIN-TOP: 2px;
    border-radius: 10px;
    background-position: 21px 0;
    position: absolute;
}
.openerp .closed-sidebar .toggle-sidebar {
    border-left: none;
}
.openerp li.oe_sidebar_print {
    padding-left: 20px;
    background: 1px 3px url(/web/static/src/img/icons/gtk-print.png) no-repeat;
}

.openerp .oe_sidebar_print ul {
    padding-left:15px;
    font-weight: bold;
}

.openerp.kitten-mode-activated .main_table {
    background: url(http://placekitten.com/g/1500/800) repeat;
}
.openerp.kitten-mode-activated.clark-gable .main_table {
    background: url(http://amigrave.com/ClarkGable.jpg);
    background-size: 100%;
}

.openerp.kitten-mode-activated .header {
    background: url(http://placekitten.com/g/211/65) repeat;
}

.openerp.kitten-mode-activated .secondary_menu {
    background: url(http://placekitten.com/g/212/100) repeat;
}

.openerp.kitten-mode-activated .menu {
    background: #828282;
    background: -moz-linear-gradient(top, #828282 0%, #4D4D4D 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#828282), color-stop(100%,#4D4D4D));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#828282', endColorstr='#4D4D4D',GradientType=0 );
}
.openerp.kitten-mode-activated .menu a {
    background: none;
}
.openerp.kitten-mode-activated .menu span {
    background: none;
}
.openerp.kitten-mode-activated .sidebar-content li a,
.openerp.kitten-mode-activated .oe-application .view-manager-main-content h2.oe_view_title,
.openerp.kitten-mode-activated .oe-application .view-manager-main-content a.searchview_group_string,
.openerp.kitten-mode-activated .oe-application .view-manager-main-content label  {
    color: white;
}
.openerp.kitten-mode-activated .menu,
.openerp.kitten-mode-activated .header_corner,
.openerp.kitten-mode-activated .header_title,
.openerp.kitten-mode-activated .secondary_menu div,
.openerp.kitten-mode-activated .oe-application,
.openerp.kitten-mode-activated .oe_footer,
.openerp.kitten-mode-activated .loading,
.openerp.kitten-mode-activated .ui-dialog {
    opacity:0.8;
    filter:alpha(opacity=80);
}
.openerp.kitten-mode-activated .header .company_logo {
    background: url(http://placekitten.com/g/180/46);
}
.openerp.kitten-mode-activated .loading {
    background: #828282;
    border-color: #828282;
}

.openerp .oe-m2o-drop-down-button {
    margin-left: -24px;
}
.openerp .oe-m2o-drop-down-button img {
    margin-bottom: -4px;
    cursor: pointer;
}
.openerp .oe-m2o input  {
    border-right: none;
    margin-right: 0px !important;
    padding-bottom: 2px !important;
}
.openerp .oe-m2o-disabled-cm {
    color: grey;
}
.openerp ul[role="listbox"] li a {
    font-size:80%;
}
.parent_top {
    vertical-align: text-top;
}

.openerp .oe-dialog-warning p {
    padding-left: 1em;
    font-size: 1.2em;
    font-weight: bold;
}

.openerp .dhx_mini_calendar {
    -moz-box-shadow: none;
    -khtml-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.openerp .oe-treeview-table {
    width: 100%;
    background-color : #FAFAFA;
    border-spacing: 0;
    
}
.openerp .oe-treeview-table tr:hover{
    color: blue;
    background-color : #D8D8D8;
}
.treeview-tr, .treeview-td {
    cursor: pointer;
    vertical-align: top;
    text-align: left;
    border-bottom: 1px solid #CFCCCC;
}
.openerp .oe-treeview-table .oe-number {
   text-align: right !important;
}
.treeview-tr span, .treeview-td span {
/*    font-size: 90%; */
    font-weight: normal;
    white-space: nowrap;
    display: block;
    }
.treeview-tr.oe-treeview-first {
    background: transparent url(/web/static/src/img/expand.gif) 0 50% no-repeat;
}
.oe-open .treeview-tr.oe-treeview-first {
    background-image: url(/web/static/src/img/collapse.gif);
}
.treeview-tr.oe-treeview-first span,
.treeview-td.oe-treeview-first span {
    margin-left: 16px;
}

.treeview-header {
    vertical-align: top;
    background-color : #D8D8D8;
    white-space: nowrap;
    text-align: left;
    padding: 4px 5px;
}
/* Shortcuts*/
/* Favourites Menu */
.oe-shortcut-toggle {
    height: 20px;
    margin-top: 0px;
    padding: 6px;
    width: 20px;
    cursor: pointer;
    display: block;
    background: url(/web/static/src/img/add-shortcut.png) no-repeat center center;
    float: left;
}
.oe-shortcut-remove{
    background: url(/web/static/src/img/remove-shortcut.png) no-repeat center center;
}
.oe-shortcuts {
    position: right;
    margin: 0;
    padding: 0px 13px;
    top: 0px;
    left: 0px;
    right: 0;
    height: 17px;
    line-height: 1;
}
.oe-shortcuts ul {
    display: block;
    overflow: hidden;
    list-style: none;
    white-space: nowrap;
    padding: 0 15px;
    margin: 0;
}
.oe-shortcuts li {
    cursor: pointer;
    display: -moz-inline-stack;
    display: inline-block;
    display: inline; /*IE7 */
    color: #6e6e6e;
    text-align: center;
    border-left: 1px solid #8e8e8e;
    padding: 0 3px;
    font-size: 85%;
    font-weight: normal;
    vertical-align: top;
}

.oe-shortcuts li:hover {
    background-color: #transparent;
    color: #000000;
    font-weight: bold;
}
.oe-shortcuts li:first-child {
    border-left: none;
    padding-left: 0;
}

ul.oe-arrow-list {
    padding-left: 1.1em;
    margin: 0;
    white-space: nowrap;
}
ul.oe-arrow-list li {
    display: inline-block;
    margin-left: -1em;
    vertical-align: top;
}
ul.oe-arrow-list li span {
    vertical-align: top;
    display: inline-block;
    border: 1em solid #DEDEDE;
    line-height:0em;
}
ul.oe-arrow-list .oe-arrow-list-before {
    border-left-color: transparent;
    border-right-width:0;
}
ul.oe-arrow-list .oe-arrow-list-after {
    border-color: transparent;
    border-left-color: #DEDEDE;
    border-right-width:0;
}
ul.oe-arrow-list li.oe-arrow-list-selected span {
    border-color: #B5B9FF;
}
ul.oe-arrow-list li.oe-arrow-list-selected .oe-arrow-list-before {
    border-left-color: transparent;
}
ul.oe-arrow-list li.oe-arrow-list-selected .oe-arrow-list-after {
    border-color: transparent;
    border-left-color: #B5B9FF;
}
.openerp ul.oe-arrow-list li:first-child span:first-child{
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-left-radius: 3px;
}
.openerp ul.oe-arrow-list li:last-child span:last-child{
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px;
}
.openerp .oe_view_editor {
    width:100%;
    border-collapse : collapse;
    margin-left: -12px;
    
    width: 100%;
    background-color : white;
    border-spacing: 0;
}
.openerp .oe_view_editor td{
    text-align: center;
    white-space: nowrap;
    border: 1px solid #D8D8D8;
    
    cursor: pointer;
/*    font-size: 90%; */
}
.openerp .oe_view_editor_field td{
    border: 0px !important;
}

.openerp .oe_view_editor tr:hover {
    background-color: #ecebf2;
}


/* Dialog traceback cases */
.openerp .oe_error_detail{
    display: block;
}
.openerp .oe_error_send{
    display:block;
}
.openerp .oe_fielddiv{
    display:inline-block;
    width:100%;
}
.openerp .oe_fielddiv input[type=text],textarea{
    width:100%;
}
/* for Alignment center */
.openerp .oe_centeralign{
    text-align:center;
}

.openerp .oe_applications_tiles {
  color: #4C4C4C;
  text-shadow: #EEE 0 1px 0;
  margin: 0 20px;
}

.openerp .oe_vm_switch_reload,
.openerp .oe_vm_switch_form,
.openerp .oe_vm_switch_page,
.openerp .oe_vm_switch_tree,
.openerp .oe_vm_switch_list,
.openerp .oe_vm_switch_graph,
.openerp .oe_vm_switch_gantt,
.openerp .oe_vm_switch_calendar,
.openerp .oe_vm_switch_kanban,
.openerp .oe_vm_switch_diagram {
    background: url("/web/static/src/img/views-icons-a.png") repeat-x scroll left top transparent;
    overflow: hidden;
    width: 22px;
    height: 21px;
    border: none;
    background-position: 0px 0px;
}
.openerp .oe_vm_switch_reload {
    margin-left: 10px;
    background: url("/web/static/src/img/reload-icon.png") repeat-x scroll left top transparent;
}

.openerp .oe_vm_switch_reload:active,
.openerp .oe_vm_switch_reload:hover,
.openerp .oe_vm_switch_reload:focus {
    background-position: 0px -21px;
}

.openerp .oe_vm_switch_reload span,
.openerp .oe_vm_switch_form span,
.openerp .oe_vm_switch_page span,
.openerp .oe_vm_switch_tree span,
.openerp .oe_vm_switch_list span,
.openerp .oe_vm_switch_graph span,
.openerp .oe_vm_switch_gantt span,
.openerp .oe_vm_switch_calendar span,
.openerp .oe_vm_switch_kanban span,
.openerp .oe_vm_switch_diagram span {
    display: none;
}

.openerp .oe_vm_switch_list {
    background-position: 0px 0px;
}
.openerp .oe_vm_switch_list:active,
.openerp .oe_vm_switch_list:hover,
.openerp .oe_vm_switch_list:focus,
.openerp .oe_vm_switch_list[disabled="disabled"] {
    background-position: 0px -21px;
}

.openerp .oe_vm_switch_tree {
    background-position: 0px 0px;
}
.openerp .oe_vm_switch_tree:active,
.openerp .oe_vm_switch_tree:hover,
.openerp .oe_vm_switch_tree:focus,
.openerp .oe_vm_switch_tree[disabled="disabled"] {
    background-position: 0px -21px;
}

.openerp .oe_vm_switch_form {
    background-position: -22px 0px;
}
.openerp .oe_vm_switch_form:active,
.openerp .oe_vm_switch_form:hover,
.openerp .oe_vm_switch_form:focus,
.openerp .oe_vm_switch_form[disabled="disabled"] {
    background-position: -22px -21px;
}

.openerp .oe_vm_switch_page {
    background-position: -22px 0px;
}
.openerp .oe_vm_switch_page:active,
.openerp .oe_vm_switch_page:hover,
.openerp .oe_vm_switch_page:focus,
.openerp .oe_vm_switch_page[disabled="disabled"] {
    background-position: -22px -21px;
}
.openerp .oe_vm_switch_graph {
    background-position: -44px 0px;
}
.openerp .oe_vm_switch_graph:active,
.openerp .oe_vm_switch_graph:hover,
.openerp .oe_vm_switch_graph:focus,
.openerp .oe_vm_switch_graph[disabled="disabled"] {
    background-position: -44px -21px;
}

.openerp .oe_vm_switch_gantt {
    background-position: -66px 0px;
}
.openerp .oe_vm_switch_gantt:active,
.openerp .oe_vm_switch_gantt:hover,
.openerp .oe_vm_switch_gantt:focus,
.openerp .oe_vm_switch_gantt[disabled="disabled"] {
    background-position: -66px -21px;
}

.openerp .oe_vm_switch_calendar {
    background-position: -88px 0px;
}
.openerp .oe_vm_switch_calendar:active,
.openerp .oe_vm_switch_calendar:hover,
.openerp .oe_vm_switch_calendar:focus,
.openerp .oe_vm_switch_calendar[disabled="disabled"] {
    background-position: -88px -21px;
}
.openerp .oe_vm_switch_kanban {
    background-position: -110px 0px;
}
.openerp .oe_vm_switch_kanban:active,
.openerp .oe_vm_switch_kanban:hover,
.openerp .oe_vm_switch_kanban:focus,
.openerp .oe_vm_switch_kanban[disabled="disabled"] {
    background-position: -110px -21px;
}

.openerp .oe_vm_switch_diagram {
    background-position: 0px 0px;
}
.openerp .oe_vm_switch_diagram:active,
.openerp .oe_vm_switch_diagram:hover,
.openerp .oe_vm_switch_diagram:focus,
.openerp .oe_vm_switch_diagram[disabled="disabled"] {
    background-position: 0px -21px;
}

/* Buttons */
.openerp .oe_button:link,
.openerp .oe_button:visited,
.openerp .oe_button {
    display: inline-block;
    border: 1px solid #8e8e8e;
//    color: #8e8e8e;
//    text-shadow: #FAFAFA 0 1px 0;
    font-size: 12px;
    padding: 3px 10px;
    text-align: center;
    -o-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: auto auto !important;
    background-size: 100% 100%;
    background: #e6e6e6 none;
    background: none, -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#e6e6e6));
    background: none, -webkit-linear-gradient(#FAFAFA, #e6e6e6);
    background: none, -moz-linear-gradient(#FAFAFA, #e6e6e6);
    background: none, -o-linear-gradient(top, #FAFAFA, #e6e6e6);
    background: none, -khtml-gradient(linear, left top, left bottom, from(#FAFAFA), to(#e6e6e6));
    background: -ms-linear-gradient(top, #FAFAFA, #e6e6e6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#e6e6e6',GradientType=0 );
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.8) inset;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.8) inset;
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.8) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.8) inset;
//    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
    -webkit-font-smoothing: antialiased;
    outline: none;
}



.openerp .oe_button:hover {
    -o-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: auto auto !important;
    background-size: 100% 100%;
    background: #e3e3e3 none;
    background: none, -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#e30000));
    background: none, -webkit-linear-gradient(#f6f6f6, #e30000);
    background: none, -moz-linear-gradient(#f6f6f6, #e30000);
    background: none, -o-linear-gradient(top, #f6f6f6, #e30000);
    background: none, -khtml-gradient(linear, left top, left bottom, from(#f6f6f6), to(#e30000));
    background: -ms-linear-gradient(top, #f6f6f6, #e30000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#e30000',GradientType=0 );
    cursor: pointer;
}

.openerp .oe_button:focus {
    border: 1px solid #80bfff;
    -o-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: auto auto !important;
    background-size: 100% 100%;
    background: #e3e3e3, none;
//    background: none, -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#e3e3e3));
//    background: none, -webkit-linear-gradient(#f6f6f6, #e3e3e3);
//    background: none, -moz-linear-gradient(#f6f6f6, #e3e3e3);
//    background: none, -o-linear-gradient(top, #f6f6f6, #e3e3e3);
//    background: none, -khtml-gradient(linear, left top, left bottom, from(#f6f6f6), to(#e3e3e3));
//    background: -ms-linear-gradient(top, #f6f6f6, #e3e3e3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#e3e3e3',GradientType=0 );
    -moz-box-shadow: 0 0 3px #80bfff, 0 1px 1px rgba(255, 255, 255, 0.8) inset;
    -webkit-box-shadow: 0 0 3px #80bfff, 0 1px 1px rgba(255, 255, 255, 0.8) inset;
    -o-box-shadow: 0 0 3px #80bfff, 0 1px 1px rgba(255, 255, 255, 0.8) git cinset;
//    box-shadow: 0 0 3px #80bfff, 0 1px 1px rgba(255, 255, 255, 0.8) inset;
}

.openerp .oe_button:active,
.openerp .oe_button.active {
    background: #e3e3e3;
    background: -moz-linear-gradient(top, #e3e3e3, #f6f6f6) #1b468f;
    background: -webkit-gradient(linear, left top, left bottom, from(#e3e3e3), to(#f6f6f6)) #1b468f;
    background: linear-gradient(top, #e3e3e3, #f6f6f6) #1b468f;
    background: -ms-linear-gradient(top, #e3e3e3, #f6f6f6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3e3e3', endColorstr='#f6f6f6',GradientType=0 );
    -moz-box-shadow: none, 0 0 0 transparent;
    -webkit-box-shadow: none, 0 0 0 transparent;
    -o-box-shadow: none, 0 0 0 transparent;
    box-shadow: none, 0 0 0 transparent;
}

.openerp .oe_button.oe-list-add {
    background: #c02c2c;
    color: white;
    font-weight: bold;
}

.openerp .oe_button.oe-list-add:hover {

}

.openerp .oe_button.disabled,
.openerp .oe_button:disabled {
    background: #f0f0f0 !important;
    border: 1px solid #f1f1f1 !important;
    font-size: 12px;
    padding: 3px 10px;
    -moz-box-shadow: none !important, 0 0 0 transparent;
    -webkit-box-shadow: none !important, 0 0 0 transparent;
    -o-box-shadow: none !important, 0 0 0 transparent;
    box-shadow: none !important, 0 0 0 transparent;
    color: #aaaaaa !important;
    cursor: default;
//    text-shadow: 0 1px 1px white !important;
}

.openerp .oe_button.oe_button_small {
    padding: 3px 3px;
    margin: 2px 2px;
    height: 24px;
    width: 24px;
}
.openerp select.oe_search-view-filters-management {
    cursor: text;
    position: relative;
    float: right;
    padding: 1px 0px;
    line-height: 18px;
    border: 1px solid #ABABAB;
    background: #FFF none repeat scroll 0% 0%;
    border-radius: 13px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2) inset;
    color: #999999;
}

.openerp .oe_search-view-filters-management option,
.openerp .oe_search-view-filters-management optgroup {
    font-style: normal;
    color: black;
}

.openerp .oe-binary-image {
  max-width: 130px;
  border-color: #dedede;
  border-radius: 14px;
}

/* Debug stuff */
.openerp .oe_debug_view_log {
    font-size: 95%;
}
.openerp .oe_debug_view_log label {
    display: block;
    width: 49%;
    text-align: right;
    float: left;
    font-weight: bold;
    color: #009;
}
.openerp .oe_debug_view_log span {
    display: block;
    width: 49%;
    float: right;
    color: #333;
}

/* Internet Explorer Fix */
a img {
   border: none;
}
.ui-tabs .ui-tabs-panel {
padding-top: 0;
}

.oe_debug_view {
    float: right;
}
.openerp .oe_tag {
  border: 1px solid #afafb6;
  font-size: 11px;
  padding: 2px 4px;
  margin: 0 2px 2px 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #f0f0fa;
  color: #4c4c4c;
  display: inline_block;
}
.openerp .oe_tag_dark {
  background: #7c7bad;
  color: #eeeeee;
}
.openerp .oe_tags {
  margin-bottom: 1px;
}
.openerp .oe_tags.oe_inline {
  min-width: 250px;
}
.openerp .oe_tags .text-wrap {
  width: 100% !important;
}
.openerp .oe_tags .text-wrap textarea {
  width: 100% !important;
}
.openerp .oe_tags .text-core {
  min-height: 22px;
}
.openerp .oe_tags .text-core .text-wrap .text-dropdown .text-list .text-suggestion em {
  font-style: italic;
  text-decoration: none;
}
.checkboxvertical{
    vertical-align: initial;
    display: block;
    align-items: baseline;
}
